body {
  background-color: #F3F3F3;
}

.about-top-intro {
  background-size: cover;
  background-position: center;
  height: 100vh !important;
  width: 100%;
  z-index: 10;
}
.about-content-container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.about-top-wrap {
  width: 80%;
  max-width: 500px;
  z-index: 10;
}

.about-intro-long, .about-tall-title {
  display: block;
}
.about-intro-short, .about-short-title {
  display: none;
}
.about-section-buffer {
  height: 20px;
}
.about-intro-long, .about-intro-short {
  font-size: 18px;
}
@media (max-height: 600px) {
  .about-intro-long, .about-tall-title {
    display: none;
  }
  .about-intro-short, .about-short-title {
    display: block;
  }
  .about-intro-long, .about-intro-short {
    font-size: 16px;
  }
  .about-section-buffer {
    height: 20px;
  }
}

@media only screen and (max-width: 1000px) {
  .about-top-intro::before {
    content: "";
    background: #F3F3F3;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0.5;
  }
  .about-intro-long, .about-intro-short {
    font-size: 15px;
  }
}



@media (orientation: landscape) {
  .about-top-intro {
    background-image: url('/static/assets/about/wallpaper.png');
  }
}
@media only screen and (max-width: 1400px) {
  .about-top-intro {
    background-image: url('/static/assets/about/smolwallpaper.webp');
  }
}

@media (orientation: portrait) {
  .about-top-intro {
    background-image: url('/static/assets/about/portraitwallpaper.png');
  }
  .lead {
    font-size: 15px;
  }
}

/*
#about-intro-p-short{
  display: none;
}

@media (orientation: landscape) {
    .about-top-intro {
      background-image: url('/static/assets/about/wallpaper.png');
  }
}

@media (orientation: portrait) {
    .about-top-intro {
      background-image: url('/static/assets/about/portraitwallpaper.png');
  }
}

@media (max-height: 650px) {
  #about-intro-p-long {
    display: block;
  }
  #about-intro-p-short{
    display: block;
  }
  @media (orientation: landscape) {
    .about-top-intro{
      height: 200vh;
    }
  }
}

*/

.arrow {
  position: absolute;
  bottom: 20px;
  left: 50%;
}
.bounce {
  -moz-animation: bounce 2s infinite;
  -webkit-animation: bounce 2s infinite;
  animation: bounce 2s infinite;
}
.arrow > a {
  color: white;
  text-decoration: none;
}
@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translate(-50%, 0);
  }
  40% {
    transform: translate(-50%, -30px);
  }
  60% {
    transform: translate(-50%, -15px);
  }
}

.about-body-box {
  width: 75vw;
  height: 65vh;
  background: white;
  position: relative;
  border-radius: 15px;
  color: white;
}

.about-pc-tile-wrap {
  width: 100%;
  height: 100%;
  padding: 10px;
}
.about-step-card-1,
.about-step-card-2,
.about-step-card-3,
.about-step-card-4 {
  background: black;
  border-radius: 10px;
  position: absolute;
  transition: 1s;
}
.about-step-card-1 {
  left: 10px;
  top: 10px;
  width: calc(80% - 15px);
  height: calc(80% - 15px);
}
.about-step-card-2 {
  right: 10px;
  top: 10px;
  width: calc(20% - 15px);
  height: calc(80% - 15px);
}
.about-step-card-3 {
  right: 10px;
  bottom: 10px;
  width: calc(20% - 15px);
  height: calc(20% - 15px);
}
.about-step-card-4 {
  left: 10px;
  bottom: 10px;
  width: calc(80% - 15px);
  height: calc(20% - 15px);
}

.about-mobile {
  display: none;
  height: 100%;
  width: 100%;
}

@media (max-width: 900px) {
  .about-step-card-text {
    display: none;
  }
  .about-step-card-1,
  .about-step-card-2,
  .about-step-card-3,
  .about-step-card-4 {
    background: none;
  }
  .about-mobile {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .about-mobile-1,
  .about-mobile-2,
  .about-mobile-3,
  .about-mobile-4 {
    height: calc(100% - 20px);
    width: calc(100% - 20px);
    background: black;
    border-radius: 10px;
    padding: 50px 20px;
    transition: 0.5s;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  .about-mobile-title {
    font-size: 42px;
    font-weight: 600;
  }
}

.about-step-number-1,
.about-step-number-2,
.about-step-number-3,
.about-step-number-4 {
  position: absolute;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 70px;
  background: black;
  transition: 0.5s;
  border: 5px solid white;
  z-index: 100;
  cursor: pointer;
}
.about-step-number-1, .num-bg-1 {
  top: 0;
  left: 0;
  transform: translate(-40%, -40%);
}
.about-step-number-2, .num-bg-2 {
  top: 0;
  right: 0;
  transform: translate(40%, -40%);
}
.about-step-number-3, .num-bg-3 {
  bottom: 0;
  right: 0;
  transform: translate(40%, 40%);
}
.about-step-number-4, .num-bg-4 {
  bottom: 0;
  left: 0;
  transform: translate(-40%, 40%);
}
.num-bg-1,
.num-bg-2,
.num-bg-3,
.num-bg-4 {
  position: absolute;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: black;
  border: 5px solid black;
}
.num-bg-3,
.num-bg-4 {
  margin-bottom: 8px;
}

@media (max-width: 425px) {
  .about-container {
    height: 100vh;
    background: black;

    position: sticky;
    top: 0;
    width: 100%;
    
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .title {
    font-size: 40px;
  }
  .about-title-card {
    height: 100%;
    width: 85%;
    display: flex;
    align-items: center;
    margin: 0 auto;
  }
  .about-title-card > div > h2 {
    font-size: 60px;
    line-height: 50px;
  }
}
@media screen and (min-width: 425px) and (max-width: 1000px) {
  .about-container {
    height: 100vh;
    background: black;

    position: sticky;
    top: 0;
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
  }
  .title {
    font-size: 50px;
  }
  .about-title-card {
    height: 100%;
    width: 60%;
    display: flex;
    align-items: center;
    margin: 0 auto;
  }
  .about-title-card > div > h2 {
    font-size: 70px;
    line-height: 60px;
  }
}
@media (min-width: 1000px) {
  .about-container {
    height: 100vh;
    background: black;

    position: sticky;
    top: 0;
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
  }
  .title {
    font-size: 60px;
  }
  .about-title-card {
    height: 100%;
    width: 40%;
    display: flex;
    align-items: center;
    margin: 0 auto;
  }
  .about-title-card > div > h2 {
    font-size: 90px;
    line-height: 80px;
  }
}

.info-img{
  width: 90vw;
  height: auto;
  margin: auto;
}

@media (orientation: landscape){
  .info-img{
    height: 90vh;
    width: auto;
  }
  @media (max-width: 800px) {
    .info-img{
      width: 90vw;
      height: auto;
    }
  }
}
