body {
  background-color: #F3F3F3
}

@media (max-width: 425px) {
  .articles-grid {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(1, 1fr)
  }
}
@media screen and (min-width: 425px) and (max-width: 768px) {
  .articles-grid {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(1, 1fr)
  }
}
@media (min-width: 768px) {
  .articles-grid {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(2, 1fr)
  }
  .section-title {
    grid-column: 1 / -1;
  }
}