body {
  /* background-color: #F3F3F3; */
  background-color: #343A40;
  color: rgb(0, 0, 0);
}

.card {
  border: none;
}

#new-article-card-title {
  color: white;
  text-decoration: none;
}
#new-article-card-title:hover {
  color: #0d6efd;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

#article-block {
  transition: 0.3s;
}
#article-block:hover {
  transform: translate(-5px, -5px);
}

.bi-eye-fill {
  margin-left: -1rem;
}

.article-backlight {
  position: absolute;
  background: white;
  grid-area: 1 / 1 / 2 / 2;
  height: 100%;
  width: 100%;
  border-radius: 0.25rem;
  z-index: -1;
}
.article-container-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
}

@media (max-width: 425px) {
  .article-container-grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 20px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .article-container-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
  }
}
@media (min-width: 1024px) {
  .article-container-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
  }
}