
            .card {
              background-color: #fff;
              box-shadow: 0 0 6px rgba(0, 0, 0, 0.1);
              left: 50%;
              transform: translate(-50%, 0%);
              width: 90%;
              height: 500px;
              border-radius: 10px;
              overflow: hidden;
            }

            .card .about {
              height: 225px;
              padding: 20px;
              box-sizing: border-box;
            }

            .card .about h3,
            .card .about .lead {
              font-weight: 300;
              margin: 0;
            }

            .card .about h3 {
              font-size: 24px;
            }

            .card .about .lead {
              color: #aaa;
            }

            .card .info {
              float: left;
              padding: 10px 30px 10px 0;
            }

            .card .info p {
              font-size: 11px;
              color: #aaa;
              font-weight: 300;
            }

            .legends {
              padding-top: 20px;
              overflow: hidden;
            }

            .legend {
              display: block;
              width: 8px;
              height: 8px;
              margin-top: 15px;
              margin-bottom: 15px;
              border-radius: 50%;
            }

            .legend--this {
              background-color: #5555FF;
            }

            .legend--prev {
              background-color: #FF55B8;
            }

            .axis {
              position: absolute;
              color: #fff;
              z-index: 1;
              text-transform: uppercase;
              display: flex;
              width: 100%;
              bottom: 0;
            }

            .axis .tick {
              flex: 1;
              position: relative;
              overflow: hidden;
              opacity: 0.2;
              font-size: 11px;
              text-align: center;
              line-height: 40px;
              padding-top: 150px;
            }

            .axis .tick:hover {
              opacity: 1;
              background-color: rgba(255, 255, 255, 0.2);
            }

            .axis .tick .value {
              transform: translateY(-40px);
              transition: 0.3s transform;
              position: absolute;
              top: 20px;
              color: #444;
              border-radius: 2px;
              width: 100%;
              line-height: 20px;
            }

            .axis .tick:hover .value.value--this {
              transform: translateY(0);
              display: block;
            }

            .value.value--this {
              color: #5555FF;
              font-weight: bold;
            }
          