/* Device Optimisation - Header */
/*
header {
  height: 400px;
  background-image: url("/static/assets/universal/justsomeleaves.webp");
  background-position: center;
  background-size: 100% auto;
  background-repeat: no-repeat;
}
*/

/* Height for devices larger than 992px */
/*
@media (min-width: 992px) {
  header {
    height: 600px;
  }
}
@media all and (max-width: 4000px) {
  .desktop {
    display: block;
    position: absolute;
    padding-top: 120px;
  }
  .mobile {
    display: none;
  }
}

@media all and (max-width: 500px) {
  .desktop {
    display: none;
  }
  .mobile {
    display: block;
    position: absolute;
    padding-top: 50px;
  }
}
*/

/* NAVBAR */
/* .show {
  background: transparent !important;
  background: none !important;
} */
.dropdown-menu {
  min-width: 0 !important;
  margin-left: 70%;
  text-align: right;
}
@media (min-width: 992px) {
  .dropdown-menu {
    min-width: auto;
    margin-left: auto;
    text-align: left;
  }
}

#jokeswitch {
  transform: scale(1.2) !important; 
}

#textfade1, #textfade2 {
  transition: 0.5s;
}

#enigmamessenger {
  position: absolute;
  right: 0;
  color:gray;
}
@media (max-width: 460px) {
  #enigmamessenger {
    width: 100%;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0)
  }
}