h1 {
      font-family: 'Poppins', sans-serif;
    }

    h2 {
      font-family: 'Poppins', sans-serif;
    }

    p {
      font-family: 'Poppins', sans-serif;
    }

    div {
      font-family: 'Poppins', sans-serif;
    }

    a {
      font-family: 'Poppins', sans-serif;
    }

body {background-color: #f2f2f3;}