/* SPECIAL INDEX NAVBAR */
.navbar-nav.navbar-center {
    font-family:poppins,sans-serif;
    position: absolute;
    left: 50%;
    transform: translatex(-50%);
    color:black;
    font-size:20px;
}

header {
    height:750px;
    min-height:500px;
    background-size:cover;
    background-image:url('/static/assets/universal/pawel-czerwinski-lWBZ01XRRoI-unsplash.webp');
    background-position: 50% 75%;
}

.nav-item {
  padding: 50px 50px 75px;
}