body {
  background-color: black;
}

.card {
  border: none;
}

.articles-top-intro {
  background-image: url('/static/assets/articles/1261218.jpg');
  background-size: cover;
  background-position: center;
  height: 100%;
  width: 100%;
  z-index: 999;
}

#new-article-card-title {
  color: black;
  text-decoration: none;
}
#new-article-card-title:hover {
  color: blue;
  text-decoration: underline;
}

#article-block {
  transition: 0.3s;
}
#article-block:hover {
  transform: translate(-5px, -5px);
}

.bi-eye-fill {
  margin-left: -1rem;
}

.article-backlight {
  position: absolute;
  background: gray;
  grid-area: 1 / 1 / 2 / 2;
  height: 100%;
  width: 100%;
  border-radius: 0.25rem;
  z-index: -1;
}
.article-container-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
}

@media (max-width: 425px) {
  .article-container-grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 20px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .article-container-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
  }
}
@media (min-width: 1024px) {
  .article-container-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
  }
}