@font-face {
	font-family: "Poppins";
	src: url("/static/fonts/Poppins-Bold.ttf");
	font-weight: bolder
}
@font-face {
	font-family: "Poppins";
	src: url("/static/fonts/Poppins-Light.ttf");
	font-weight: lighter;
}
@font-face {
	font-family: "Poppins";
	src: url("/static/fonts/Poppins-SemiBold.ttf");
	font-weight: bold;
}
@font-face {
	font-family: "Poppins";
	src: url("/static/fonts/Poppins-BoldItalic.ttf");
	font-weight: bold;
  font-style: italic;
}
@font-face {
	font-family: "Poppins";
	src: url("/static/fonts/Poppins-Medium.ttf");
}
@font-face {
	font-family: "Poppins";
	src: url("/static/fonts/Poppins-Italic.ttf");
  font-style: italic;
}

/* Unfunny Joke */
@font-face {
	font-family: "Comic Sans";
	src: url("/static/fonts/ComicNormal.ttf");
}
@font-face {
	font-family: "Comic Sans";
	src: url("/static/fonts/ComicBold.ttf");
	font-weight: bolder;
}
@font-face {
	font-family: "Comic Sans";
	src: url("/static/fonts/ComicNormal.ttf");
	font-weight: lighter;
}


* {
  font-family: "Poppins";
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
::-webkit-scrollbar-track {
  background: #F3F3F3; 
}
::-webkit-scrollbar-thumb {
  background: #888; 
}
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

.alert {
  margin-bottom: 0;
  border-radius: 0;
}

body {
  padding: 0;
  margin: 0;
}
.header {
  background-image: url("/static/assets/universal/green-leaves-white-background.jpg");
  background-repeat:no-repeat;
  background-size:cover;
  background-position:center;

  background-color: #F3F3F3;
  width: 100%;
  height: 100vh;
}

.titlewrap {
  top: 50%;
  left: 50px;
  position: absolute;
  transform: translate(0, -50%);
}
.typewrite {
  font-size: 70px;
}
@media (max-width: 460px) {
  .titlewrap {
    width: 90%;
    position: absolute;
    text-align: center;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
  .typewrite {
    font-size: 50px;
  }

}

@media screen and (max-width: 425px) {
  .title-text-wrap {
    position: absolute;
    width: 90%;
    max-width: 500px;
    line-height: 22px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    bottom: 50px;
    left: 50%;
    transform: translate(-50%, 0)
  }
}
@media screen and (min-width: 425px) {
  .title-text-wrap {
    position: absolute;
    width: 90%;
    max-width: 500px;
    line-height: 22px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    bottom: 50px;
    margin-left: 50px;
  }
}

/* THE BOOGEYMAN */
/* @media (min-width: 992px) {
  collapse, navbar-collapse {
    position: absolute;
    right: 20px;
  }
} */
@media screen and (min-width: 992px) {
  #navbarNavAltMarkup {
    position: absolute;
    right: 20px;
  }
}

#bodyContent {
  margin: 0;
  padding: 0;

  position: relative;
  background-color: black;
  color: white;
}

#about {
  padding: 100px;
  line-height: 30px;
  max-width: 90%;
}
@media (max-width: 425px) {
  #about {
    padding: 20px;
    line-height: 30px;
    max-width: 100%;
  }
}
@media screen and (min-width: 425px) and (max-width: 768px) {
  #about {
    padding: 50px;
    line-height: 30px;
    max-width: 100%;
  }
}

.accordion-button:after {
  background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23ffffff'><path fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/></svg>") !important;
}

p {
  font-size: 17px;

}
.headerTransition {
  margin: 0;
  padding: 0;
  height: 300vh;
  width: 100% !important;

  --before-opacity: 0.3;

  background-image: url("/static/assets/universal/leaf-leaves-background-picjumbo-com.jpg");
  background-repeat:no-repeat;
  background-size:cover;
  background-position:center;
}
.headerTransition::before {
  content: "";

  height: 300vh;
  position: absolute;
  top: 0;
  right: 0px;
  bottom: 0px;
  left: 0px;
  transition: 2s;
  z-index: 0;

  /* Crucial bits */
  background-color: black;
  opacity: var(--before-opacity);
}






/* VERY ANNOYING ZONE */
#fixedText {
  text-align: center;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  pointer-events: none;
  color: white;
  /* background-color: rgba(92, 169, 4, 0.3); */
  transition: 1s;
  width: 80%;
  max-width: 700px;

  /* this will cause some problems at some point. */
  z-index: 1;
}

#fixedText h3 {
  font-size: 40px;
}
.fixedbold {
  font-size: 60px;
  font-weight: bolder;
  -webkit-text-stroke: 2px white;
  color: black;
}
#textfade2 p {
  font-size: 20px;
}
@media screen and (min-width: 450px) and (max-width: 600px){
  .fixedbold {
    font-size: 45px;
    -webkit-text-stroke: 1px white;
    color: black;
  }
  #fixedText h3 {
    font-size: 30px;
  }
  #textfade2 p {
    font-size: 16px;
  }
}
@media (max-width: 450px) {
  .fixedbold {
    font-size: 37px;
    -webkit-text-stroke: 1px white;
    color: black;
  }
  #fixedText h3 {
    font-size: 23px;
  }
  #textfade2 p {
    font-size: 16px;
  }
}

@media screen and (orientation:landscape)
and (max-height: 450px) {
  .fixedbold {
    font-size: 33px;
    -webkit-text-stroke: 1px white;
    color: black;
  }
  #fixedText h3 {
    font-size: 20px;
  }
  #textfade2 p {
    font-size: 14px;
  }
}

/* VERY ANNOYING ZONE END */





/* INDEX LINKS */
#index-links-card {
  text-align: center;
  width: 100%;
  height: 200px;
}
.index-card-body {
  display: flex;
  align-items: center;
  justify-content: center;
}
#index-links-title {
  text-align: center;
  grid-column: 1 / -1;
}
@media (max-width: 768px) {
  .index-links {
    width: 100%;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(1, 1fr);
    align-items: center;
    justify-items: center;
  }
  #index-links-title h2 {
    font-size: 50px;
  }
  #index-links-title p {
    font-size: 20px;
  }
  .about-card {
    grid-row: 2 / 3;
    grid-column: 1 / -1;
  }
  .news > h2 {
    font-size: 40px;
  }
  .alerts > h2 {
    font-size: 40px;
  }
}
@media screen and (min-width: 768px) and (max-width: 992px) {
  .index-links {
    width: 100%;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    justify-items: center;
  }
  #index-links-title h2 {
    font-size: 60px;
  }
  #index-links-title p {
    font-size: 20px;
  }
  .about-card {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
  }
  .news > h2 {
    font-size: 50px;
  }
  .alerts > h2 {
    font-size: 40px;
  }
}
@media (min-width: 992px) {
  .index-links {
    width: 100%;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    justify-items: center;
  }
  #index-links-title h2 {
    font-size: 75px;
  }
  #index-links-title p {
    font-size: 23px;
  }
  .about-card {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
  }
  .news > h2 {
    font-size: 60px;
  }
  .alerts > h2 {
    font-size: 40px;
  }
}
.news {
  width: 100%;
  margin-top: 100px;
  grid-column: 1 / -1;
  padding: 30px;
  background-color: #22252B;
  border-radius: 0.25rem;
}

.alerts {
  width: 100%;
  margin-top: 100px;
  grid-column: 1 / -1;
  padding: 30px;
  background-color: #22252B;
  border-radius: 0.25rem;
}


.bolder {
  font-weight: bolder;
  font-size: 35px;
}

/* New */
#hover, #hover:link {
  text-decoration: none;
  background-position-y: -0%;
  background-image: linear-gradient(transparent 50%, rgba(138, 249, 11, 0.7) 50%);
  transition: background 500ms ease;
  background-size: auto 175%;
}
#hover:hover {
  background-position-y: 110%;
}
.enigmaBtn {
  position: absolute;
  text-align: center; 
  left: 50%; 
  transform: translate(-50%, 0);
}
#enigma {
  width: 240px;
  height: 50px;
  color: white;
  background: #059033;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 16px;
  cursor: pointer;
  transition: 0.5s;
  font-size: 25px;
}
#enigma:hover {
  background: #90EE90;
  color: #059033;
}
#theProject {
  position: inherit; 
  left: 0; 
  font-size: 50px;
}
@media (max-width: 425px) {
  #theProject {
    position: inherit; 
    left: 0; 
    font-size: 40px;

  }
}

.intro-image {
  width: 270px;
  height: 300px;
  margin: 25px;
  border: 2px solid white;
  float: right;
}
@media screen and (max-width: 768px) {
  .intro-image {
    width: 270px;
    height: 300px;
    margin: 25px;
    border: 2px solid white;
  }
  .image-wrap {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

/* #graph {
  height: 300px;
  background-color: darkgray;
  display: flex;
  align-items: center;
  justify-content: center;
} */

.footer {
  height: 130px;
  text-align: center;
}

/* MOVE ITEMS INWARDS,  MOVED FROM ARTICLES.css as file is used on multiple pages */
body {
  background-color: #F3F3F3;
  scroll-behavior: smooth;
}

@media (max-width: 425px) {
  .shifted-container {
    padding: 20px;
    line-height: 30px;
    max-width: 100%;
  }
  .article-shifted-container {
    padding: 100px;
    line-height: 30px;
    max-width: 100%;
  }
  .title {
    font-size: 40px;
    line-height: 35px;
  }
}
@media screen and (min-width: 425px) and (max-width: 768px) {
  .shifted-container {
    padding: 50px;
    line-height: 30px;
    max-width: 100%;
  }
  .article-shifted-container {
    padding: 120px;
    line-height: 30px;
    max-width: 100%;
  }
  .title {
    font-size: 50px;
    line-height: 45px;
  }
}
@media (min-width: 768px) {
  .shifted-container {
    padding: 50px;
    line-height: 30px;
    max-width: 100%;
  }
  .article-shifted-container {
    padding: 180px;
    line-height: 30px;
    max-width: 100%;
  }
  .title {
    font-size: 60px;
    line-height: 55px;
  }
}

/* This file is getting preeetty long */