<!-- Footer -->

<!-- Include footer css -->
<link rel="stylesheet" href="/static/stylesheets/footer.css">

<div class="footer">
  <div class="container" style="margin-top: 20px;">
    <div class="container" style="padding-top:25px; color:white">
        <div class="d-flex justify-content-center">
          <a href="" class="social"><i class="fab fa-github fa-4x"></i></a>
        </div>
        
    </div>
        
    <div class="container d-flex justify-content-center">
      <p style="color:#8a8a8a"> MIT Licence © Team Enigma 2021 </p>
    </div>
  </div>
</div>

<!--start AOS -->
<script>
  AOS.init();
</script>