<!-- Footer -->

<!-- Include footer css -->
<link rel="stylesheet" href="/static/stylesheets/footer.css">

<footer <%if (pagename==="Home" || pagename==="About" || pagename==="Articles") { %> class="bg-dark" <% } %>
  <div>
    <a href="https://github.com/DylanK46/TeamEngima-ProjectEco-Webserver" class="social">
      <i <%if (pagename==="Home" || pagename==="About" || pagename==="Articles") { %> style="color:white"<% } %> class="fab fa-github fa-4x"></i>
    </a>
  </div>
  <div>
    <p <%if (pagename !== "Survey" && pagename!=="Home" && pagename!=="About") { %> style="color:#8a8a8a" <% } %> <%if ((pagename === "Survey") || (pagename==="Home") || pagename==="About" || pagename==="Articles") { %> style="color:white"<% } %>>MIT Licence © Team Enigma 2021 [V1.0.1]</p>
  </div>
</footer>

