<!-- Footer -->

<!-- Include footer css -->
<link rel="stylesheet" href="/static/stylesheets/footer.css">

<footer>
  <div>
    <a href="" class="social">
      <i class="fab fa-github fa-4x"></i>
    </a>
  </div>
  <div>
    <p style="color:#8a8a8a">MIT Licence © Team Enigma 2021</p>
  </div>
</footer>

<!--start AOS -->
<script>
  AOS.init();
</script>