<!-- Include header css -->
<link rel="stylesheet" href="/static/stylesheets/header.css">

<header class="header">

  <div class="container-fluid" style="margin: 0; padding: 0;">

    <%- include('../partials/navbar.ejs'); %>

  </div>

	<!-- Typing Title -->
  <div class="titlewrap">
    <span class="typewrite" data-period="0" data-type="[ &quot;Project Eco&quot; ]">
      <span class="wrap">Project Eco</span>
    </span>
    <p id="enigmamessenger" messages="[ &quot;by Team Enigma&quot; ]"></p>
  </div>

</header>

<script>
  var width = window.innerWidth
  var height = window.innerHeight

  window.addEventListener('resize', () => {
    if (typeof (window.innerWidth) == 'number') {
      width = window.innerWidth;
      height = window.innerHeight;
    } else {
      if (document.documentElement && (document.documentElement.clientWidth || document.documentElement.clientHeight)) {
        width = document.documentElement.clientWidth;
        height = document.documentElement.clientHeight;
      } else {
        if (document.body && (document.body.clientWidth || document.body.clientHeight)) {
          width = document.body.clientWidth;
          height = document.body.clientHeight;
        }
      }
    }
  });

  window.addEventListener("scroll", (event) => {
    let scroll = this.scrollY;
    // console.log("Scroll: " + scroll, "Height: " + height)
    
    // Refer to .fixedText
    let textfade1 = document.getElementById("textfade1")
    let textfade2 = document.getElementById("textfade2")
    
    // Disaster in the making
    if (scroll < height) {
      textfade1.style.opacity = 0
      textfade2.style.opacity = 0
    } else if (scroll > height && scroll < height * 1.7) {
      textfade1.style.opacity = 1
      textfade2.style.opacity = 0
    } else if (scroll > (height * 1.7) && scroll < (height * 3)) {
      textfade1.style.opacity = 1
      textfade2.style.opacity = 1
    } else if (scroll > height * 3) {
      textfade1.style.opacity = 0
      textfade2.style.opacity = 0
    }
    

    // Changing Pseudo Elements - what fun!
    let darkBg = document.querySelector('.headerTransition')
    if (scroll < 2 * height) {

      darkBg.style.setProperty("--before-opacity", 0.3)

    } else if (scroll >= 2 * height) {

      darkBg.style.setProperty("--before-opacity", 1)

    }

    
  });

</script>