<!-- Include header css -->
<link rel="stylesheet" href="/static/stylesheets/header.css">

<header class="header">

  <div class="container-fluid" style="margin: 0; padding: 0;">

    <!-- change back to bg-transparent -->
    <nav class="navbar navbar-expand-lg navbar-light bg-transparent">
      <a class="navbar-brand" href="#" style="margin-left: 10px;">Project Eco</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation" style="margin-right: 10px">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup" style="margin-left: 10px;">
        <div class="navbar-nav ml-auto">
          <a class="nav-link <%if (pagename === "Home") { %> active<% } %>" aria-current="page" href="/">Home</a>
          <a class="nav-link <%if (pagename === "About") { %> active<% } %>" href="/about">About</a>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle <%if (pagename === "Articles" || pagename === "Export") { %> active<% } %>" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Resources
            </a>
            <ul style="width: 30%;" class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <li><a class="dropdown-item <%if (pagename === "Articles") { %> active<% } %>" href="/articles" >Articles</a></li>
              <li><a class="dropdown-item <%if (pagename === "Export") { %> active<% } %>" href="/export">Export</a></li>
            </ul>
          </li>
        </div>
      </div>
    </nav>

  </div>

	<!-- Typing Title -->
  <div class="titlewrap">
    <span class="typewrite" data-period="0" data-type="[ &quot;Project Eco&quot; ]">
      <span class="wrap">Project Eco</span>
    </span>
    <p style="margin-left:240px; color:gray" id="enigmamessenger" messages="[ &quot;by Team Enigma&quot; ]"></p>
  </div>

</header>

<script>
  var width = window.innerWidth
  var height = window.innerHeight

  window.addEventListener('resize', () => {
    if (typeof (window.innerWidth) == 'number') {
      width = window.innerWidth;
      height = window.innerHeight;
    } else {
      if (document.documentElement && (document.documentElement.clientWidth || document.documentElement.clientHeight)) {
        width = document.documentElement.clientWidth;
        height = document.documentElement.clientHeight;
      } else {
        if (document.body && (document.body.clientWidth || document.body.clientHeight)) {
          width = document.body.clientWidth;
          height = document.body.clientHeight;
        }
      }
    }
  });

  window.addEventListener("scroll", (event) => {
    let scroll = this.scrollY;
    // console.log("Scroll: " + scroll, "Height: " + height)
    
    // Refer to .fixedText
    let fixedText = document.getElementById("fixedText")
    if (scroll < height) {
      fixedText.style.opacity = 0
    } else if (scroll >= height && scroll <= 1.5 * height) {
      fixedText.style.opacity = 1
    } else if (scroll > 1.5 * height) {
      fixedText.style.opacity = 0
    }

    if (scroll < 2 * height) {
      document.getElementById("bodyContent").style.backgroundColor = "#F3F3F3"
      document.getElementById("bodyContent").style.color = "black"
      document.getElementById("hover").style.color = "black"
    } else if (scroll >= 2 * height) {
      document.getElementById("bodyContent").style.backgroundColor = "#000000"
      document.getElementById("bodyContent").style.color = "white"
      document.getElementById("hover").style.color = "white"
    }
    
  });

</script>