<!-- Include header css -->
<link rel="stylesheet" href="/static/stylesheets/header.css">

<div data-aos="fade-up" data-aos-duration="1500">

    <!-- TypingText Card-->
   
   <!-- NAVBAR -->

    <nav class="navbar navbar-expand-lg navbar-light" style="height:85px">
      <div class="container-fluid">

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNavDropdown" style="left: 50%; z-index: 1;">
          <ul class="navbar-nav navbar-center">
           <a class="navbar-brand" href="#">
              <img src="/static/assets/universal/favicon.ico" alt="" width="30" height="24" class="d-inline-block align-text-top">
              Project Eco
            </a>
            <li class="nav-item">
              <a class="nav-link <%if (pagename === "Home") { %> active<% } %>" aria-current="page" href="/">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link <%if (pagename === "About") { %> active<% } %>" href="/about">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link <%if (pagename === "Resources") { %> active<% } %>" href="/resources">Resources</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <div>
      <div class="mobile" style="margin-left: 20px; margin-right: 25%;">

        <script src="static/js/typingtext.js"></script>
        <h1 style="font-size:30px;z-index: -1;" class="typewrite" data-period="2000" data-type='[ "Project Eco.", "By Team Enigma"]'><b>

          <span class="wrap"></span>

          </b>
        </h1>
      </div> 
      
      <div class="desktop" style="margin-left: 20px; margin-right: 20%;">
        <script src="static/js/typingtext.js"></script>
        <h1 style="font-size:80px; align-middle;" class="typewrite" data-period="2000" data-type='[ "Project Eco.", "By Team Enigma"]'>
        <b>
          <span class="wrap"></span>
        </b>
        </h1>
      </div>
    </div>

</div>