<!-- Include header css -->
<link rel="stylesheet" href="/static/stylesheets/header.css">

<nav class="navbar navbar-expand-lg navbar-light bg-light" style="height:85px">
  <a class="navbar-brand" href="#">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Features</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Pricing</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#">Disabled</a>
      </li>
    </ul>
  </div>
</nav>

<!--
<nav class="navbar navbar-expand-lg navbar-light" style="height:85px">

        <div class="container-fluid">

          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav navbar-center">

              <li class="nav-item">
                <a class="nav-link" href="#">
                Home
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">About</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Resources</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
      <div>
    -->

    <!-- TypingText Card-->
   
    <div style="padding-left:50px; padding-top:100px" class="container-fluid">
      <div class="card border-0 bg-transparent" style="width: auto;">
        <div class="card-body">

          <script src="/static/js/typingtext.js"></script>
          <h1 style="font-size:96px" class="typewrite" data-period="2000" data-type='[ "Project Eco", "By Team Enigma", "A Harrow School Team", "Using AI driven pollution data" ]'>
            <span class="wrap"></span>
          </h1>

        </div>
      </div>
    </div>