<link rel="stylesheet" href="/static/stylesheets/header.css">

<script>
  function alertclosed(){
    document.cookie = "alerts=closed";
  }; 
</script>


<div class="alert alert-warning alert-dismissible fade show" id="alert" role="alert">
  <strong>Warning</strong>: The PM<sub>2.5</sub> levels on the Hill has risen to 60µg/m³

  <button class="btn btn-warning pl-2" type="button" data-bs-toggle="collapse" data-bs-target="#alertinformation" aria-expanded="false" aria-controls="alertinformation">
    Read More
  </button>

  <div class="collapse" id="alertinformation">
  <div class="card card-body mt-2">
    <h5>PM2.5:</h5>
    <p>The term fine particles, or particulate matter 2.5 (PM2.5), refers to tiny particles or droplets in the air that are two and one half microns or less in width. Like inches, meters and miles, a micron is a unit of measurement for distance. There are about 25,000 microns in an inch. The widths of the larger particles in the PM2.5 size range would be about thirty times smaller than that of a human hair. The smaller particles are so small that several thousand of them could fit on the period at the end of this sentence.</p><p>
    Exposure to fine particles can cause short-term health effects such as eye, nose, throat and lung irritation, coughing, sneezing, runny nose and shortness of breath. Exposure to fine particles can also affect lung function and worsen medical conditions such as asthma and heart disease.</p>
  </div>
</div>

  <button onclick="alertclosed()" type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>


<script>
  var myArr = parseCookie(document.cookie)
  
  if (myArr.alerts === 'closed') {
    var x = document.getElementById("alert");
    console.log("closed")
    x.style.display = "none";
  };
</script>



<div class="container-fluid" style="margin: 0; padding: 0;">

  <!-- change back to bg-transparent -->
  <nav class="navbar navbar-expand-lg <%if (pagename !== "Survey") { %> navbar-light bg-transparent<% } %> <%if (pagename === "Survey") { %> navbar-dark bg-dark <% } %>
    bg-transparent" style="z-index: 10">

    <a class="navbar-brand" href="/" style="margin-left: 10px;">
      <img style="padding-right:10px" src="/static/assets/universal/favicon.ico">
      Project Eco
    </a>

    <button id="navbar-toggler" type="button">
      <span id="navbar-hamburger" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight" style="width: 30px;" class="navbar-toggler-icon"></span>
    </button>
    
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup" style="margin-right: 20px; text-align: right;">
      <div class="navbar-nav ml-auto">
        <a class="nav-link <%if (pagename === "Home") { %> active<% } %>" aria-current="page" href="/">Home</a>
        <a class="nav-link <%if (pagename === "About") { %> active<% } %>" href="/about">About</a>
        <a class="nav-link <%if (pagename === "Survey") { %> active<% } %>" href="/survey">Survey</a>
        <a class="nav-link <%if (pagename === "Articles") { %> active<% } %>" 
        href="/articles">Articles</a>
        <!--
        <a class="nav-link <%if (pagename === "Alerts") { %> active<% } %>" href="/alerts">Alerts</a> -->
        <a class="nav-link <%if (pagename === "Data") { %> active<% } %>" href="/data">Data</a>
      </div>
    </div>

  </nav>

  <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
    <div href="/" class="offcanvas-header">
      <h4 id="offcanvasRightLabel">
        <img style="margin-right: 10px;" src="/static/assets/universal/favicon.ico">
        Project Eco
      </h4>
      <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
      <div class="dropdown mt-3">
        <a class="nav-link <%if (pagename === "Home") { %> text-body<% } %>" aria-current="page" href="/">Home</a>
        <a class="nav-link <%if (pagename === "About") { %> text-body<% } %>" href="/about">About</a>
        <a class="nav-link <%if (pagename === "Survey") { %> text-body<% } %>" href="/survey">Survey</a>
        <a class="nav-link <%if (pagename === "Articles") { %> text-body<% } %>" 
        href="/articles">Articles</a>
        <!--
        <a class="nav-link <%if (pagename === "Alerts") { %> text-body<% } %>" href="/alerts">Alerts</a> -->
        <a class="nav-link <%if (pagename === "Data") { %> text-body<% } %>" href="/data">Data</a>
      </div>
    </div>
  </div>

</div>