<link rel="stylesheet" href="/static/stylesheets/header.css">

<script>
  function alertclosed(){
    document.cookie = "alerts=closed";
  }; 
</script>


<div class="alert alert-warning alert-dismissible fade show" id="alert" role="alert">
  <strong>Warning</strong>: The PM<sub>2.5</sub> levels on the Hill has risen to 60µg/m³

  <button class="alertcollapsebtn" type="button" data-bs-toggle="collapse" data-bs-target="#alertinformation" aria-expanded="false" aria-controls="alertinformation">
    Read More
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-down" viewBox="0 0 16 16">
      <path fill-rule="evenodd" d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z"/>
    </svg>
  </button>

  <!-- PM2.5 -->
  <div class="collapse" id="alertinformation">
    <div class="card card-body mt-2">
      <h5>PM<sub>2.5</sub></h5>
      <p>
        PM<sub>2.5</sub> are tiny particles in the air that reduce visibility and cause the air to appear hazy when levels are elevated. These particles are invisible to the naked eye and small enough to pass through the lungs, into the bloodstream,and into your organs.
      </p>
      <p>
        Exposure to PM<sub>2.5</sub> can cause illnesses like asthma, COPD, coronary heart disease, stroke, and lung cancer. There is also evidence that links PM<sub>2.5</sub> to low birth weight, diabetes and diseases such as Alzheimer’s and Parkinson’.
      </p>
      <a href="https://www.health.ny.gov/environmental/indoors/air/pmq_a.htm" target=”_blank”>
        Read More...
      </a>
    </div>
  </div>

  <!-- NO2 -->
  <!--
  <div class="collapse" id="alertinformation">
    <div class="card card-body mt-2">
      <h5>NO<sub>2</sub></h5>
      <p>
        High levels of NO<sub>2</sub> are associated with airway inflammation, decreased lung function, and a higher allergic response. Control time spent outdoors to minimise risk.
      </p>
      <a href="https://www.epa.gov/no2-pollution/basic-information-about-no2" target=”_blank”>
        Read More...
      </a>
    </div>
  </div>
  -->

  <!-- Temperature -->
  <!--
  <div class="collapse" id="alertinformation">
    <div class="card card-body mt-2">
      <h5>Extreme Air Temperature</h5>
      <p>
        Cold temperatures are isolating, and seasonal affective disorder shows that it also negatively impacts mental health. Dress warmly and keep indoors in a well insulated area.
      </p>
      <p>
        Very high temperatures are associated with a higher risk of heat stroke and loss in concentration. Keep cool and hydrated.
      </p>
      <a href="https://www.healthline.com/health/extreme-temperature-safety" target=”_blank”>
        Read More...
      </a>
    </div>
  </div>
  -->

  <button onclick="alertclosed()" type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>


<script>
  var x = document.getElementById("alert");

  var myArr = parseCookie(document.cookie)
  
  if (myArr.alerts === 'closed') {
    console.log("closed")
    x.style.display = "none";
  };

  x.style.display = "none";

</script>



<div class="container-fluid" style="margin: 0; padding: 0;">

  <!-- change back to bg-transparent -->
  <nav class="navbar navbar-expand-lg <%if (pagename !== "Survey") { %> navbar-light bg-transparent<% } %> <%if (pagename === "Survey") { %> navbar-dark bg-dark <% } %>
    bg-transparent" style="z-index: 10">

    <a class="navbar-brand" href="/" style="margin-left: 10px;">
      <img style="padding-right:10px" src="/static/assets/universal/favicon.ico">
      Project Eco
    </a>

    <button id="navbar-toggler" type="button">
      <span id="navbar-hamburger" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight" style="width: 30px;" class="navbar-toggler-icon"></span>
    </button>
    
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup" style="margin-right: 20px; text-align: right;">
      <div class="navbar-nav ml-auto">
        <a class="nav-link <%if (pagename === "Home") { %> active<% } %>" aria-current="page" href="/">Home</a>
        <a class="nav-link <%if (pagename === "About") { %> active<% } %>" href="/about">About</a>
        <a class="nav-link <%if (pagename === "Survey") { %> active<% } %>" href="/survey">Survey</a>
        <a class="nav-link <%if (pagename === "Articles") { %> active<% } %>" 
        href="/articles">Articles</a>
        <!--
        <a class="nav-link <%if (pagename === "Alerts") { %> active<% } %>" href="/alerts">Alerts</a> -->
        <a class="nav-link <%if (pagename === "Data") { %> active<% } %>" href="/data">Data</a>
        <a class="nav-link <%if (pagename === "Realtime AI Demo") { %> active<% } %>" href="/ai">AI Demo</a>
      </div>
    </div>

  </nav>

  <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
    <div href="/" class="offcanvas-header">
      <h4 id="offcanvasRightLabel">
        <img style="margin-right: 10px;" src="/static/assets/universal/favicon.ico">
        Project Eco
      </h4>
      <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
      <div class="dropdown mt-3">
        <a class="nav-link <%if (pagename === "Home") { %> text-body<% } %>" aria-current="page" href="/">Home</a>
        <a class="nav-link <%if (pagename === "About") { %> text-body<% } %>" href="/about">About</a>
        <a class="nav-link <%if (pagename === "Survey") { %> text-body<% } %>" href="/survey">Survey</a>
        <a class="nav-link <%if (pagename === "Articles") { %> text-body<% } %>" 
        href="/articles">Articles</a>
        <!--
        <a class="nav-link <%if (pagename === "Alerts") { %> text-body<% } %>" href="/alerts">Alerts</a> -->
        <a class="nav-link <%if (pagename === "Data") { %> text-body<% } %>" href="/data">Data</a>
        <a class="nav-link <%if (pagename === "Realtime AI Demo") { %> active<% } %>" href="/ai">AI Demo</a>
      </div>
    </div>
  </div>

</div>