<!Doctype HTML>
<html lang="en">

  <head>
    <%- include('../partials/head.ejs'); %>

    <link rel="stylesheet" href="/static/stylesheets/about.css">

  </head>

  <body>
    
    <header>
      <%- include('../partials/header.ejs'); %>
    </header>

  </body>
</html>
