<!Doctype HTML>
<html lang="en">

  <head>

    <%- include('../partials/head.ejs'); %>

    <!--<link rel="stylesheet" href="/static/stylesheets/about.css">-->

  </head>

  <body>
  
    <header>
      <%- include('../partials/header.ejs'); %>
    </header>

    <main>
    
      <div data-aos="zoom-out-right" style="padding: 25px 50px 25px">

        <h1> The project </h1>
        <p>
          The Environment is a crucial part of our lives, it affects everything from our immediate surroundings to our daily routines. However, like everything else we need to make sure that we are taking good care of it in return. Until now most people have been conserving the environment individually. Project ECO seeks to unite the community into one combined effort to reduce effects of pollution.
        </p>

        let's also imagine there's a button to about page
      </div>

    </main>

    <footer>
      <%- include('../partials/footer.ejs'); %>
    </footer>
    
  </body>
</html>
