<!DOCTYPE html>
<html lang="en">

  <head>
    <%- include('../partials/head.ejs'); %>
    <link rel="stylesheet" href="/static/stylesheets/about.css">
  </head>

  <body id="about-body">
  
    <header>
      <%- include('../partials/navbar.ejs'); %>
    </header>

    <main>

      <div class="about-container">
        <h1 class="title">About Us</h1>
        <!--we'll add aos later-->
        <div class="body-text">

          <h2>Our Mission</h2>
          <p class="text-body">
            is to connect, promote and empower the community to follow an environmentally positive future by increasing public awareness of environmental conditions around the community, in linking to personal emotions and achievement.
          </p>

          <h2>We aim to</h2>
          <p class="text-body">
            utilise big data and IoT to increase awareness of the environment’s effects on mental health and provides tailored pollution forecasts, empowering the community to take action.
          </p>

          <p class="text-body">
            These are the driving questions behind Project ECO, the first project developed under Team Enigma, the AI group from Harrow School.
          </p>
          
          <h2>To put it simply,</h2>
          <p class="text-body">
            <li>we collect data from sensors;</li>
            <li>monitor and analyse data, then make forecasts;</li>
            <li>warn, advise and inform the public;</li>
            <li>the community takes actions to reduce pollutant emissions</li>
          </p>
          
          <!--<img class="text-image" src="/static/assets/about/diagram.webp">-->

        </div>

      </div>

    </main>

    <footer>
      <%- include('../partials/footer.ejs'); %>
    </footer>
    
  </body>
</html>
