<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../partials/head.ejs'); %>
  <link rel="stylesheet" href="/static/stylesheets/about.css">
</head>

<body id="about-body">

  <!-- this is in document styling since i slept only 4hrs sorry --> 
  <!--
  <style> 
    .about-top-intro {
      background-size: contain no-repeat;
      background-position: center;
      height: auto;
      width: 100%;
      z-index: 999;
      
    }

    .vertical-center {
      min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
      min-height: 100vh; /* These two lines are counted as one :-)       */
      display: flex;
      align-items: center;
    }

    @media (orientation: landscape) {
        @media only screen and (max-width: 1400px) {
          .about-top-intro {
            background-image: url('/static/assets/about/smolwallpaper.png');
          }
        }
        .about-top-intro {
          background-image: url('/static/assets/about/wallpaper.png');
        }
    }

      @media (orientation: portrait) {
          .about-top-intro {
            background-image: url('/static/assets/about/portraitwallpaper.png');
        }
        .lead {
        font-size:15px
        }
      }

  </style>
  -->

  <div class="about-top-intro">
    <%- include('../partials/navbar.ejs'); %>
    <div class="about-content-container">

      <div class="about-top-wrap">
        <h1 class="title about-tall-title" style="font-weight: bolder;">
          About<br>
          Project<br>
          Eco<br>
        </h1>
        <h1 class="title about-short-title" style="font-weight: bolder;">
          About Project Eco
        </h1>
        <section class="about-section-buffer"></section>
        <p class="about-intro-long">
          Project ECO gives the community the power to sustain the environment and take action against its effects on mental well-being through our AI technology.
          <br>
          During the development of this project, our team has found strong links between air quality and mental health.
          <br> 
          We aim to predict such changes in our environment and give users the ability and knowledge to reduce the effects of pollutants, ensuring a cleaner and healthier future for all of us.
        </p>
        <p class="about-intro-short">
          Project ECO gives the community the power to sustain the environment and take action against its effects on mental well-being through our AI technology.
          <br>
          We aim to predict changes in our environment and give users the ability to reduce the effects of pollutants, ensuring a cleaner and healthier future.
        </p>
      </div>

      <!--
      <div class="container px-5">
        <img src="/static/assets/universal/favicon.png" class="img-fluid mb-4" alt="logo" width="60rem" height="60rem">
      </div>
      -->
    
      <!--
      <div>
        <div>
            <h1 style="font-size:80px" class="display-4 fw-bold">About <br>Project <br> Eco</h1>
            <div class="col-lg-6 mx-auto">
              <p class="lead mb-4">Project ECO gives the community the power to sustain the environment and take action against its effects on mental well-being through our AI technology. During the development of this project, our team has found strong links between air quality and mental health. We aim to predict such changes in our environment and give users the ability and knowledge to reduce the effects of pollutants, ensuring a cleaner and healthier future for all of us.</p>
            </div>
        </div>
      </div>
      -->

    </div>
  </div>






  <main style="height: 500vh;">

    <!-- CONTENT BOX -->
    <div class="about-container">

      <div class="about-body-box">

        <!-- <pc> -->
        <div class="about-pc-tile-wrap">
          <div 
            class="about-step-card-1"
            onclick="toggleD()"
            style="padding: 30px;"
          >
            <h2 class="about-step-card-text" style="font-weight: 600;">
              Data
            </h2>
            <p class="about-pc-content-1" style="display: none;">
              We collect data from sensors, and responses from a survey.
            </p>
          </div>
          
          <div 
            class="about-step-card-2"
            onclick="toggleA()"
            style="display: flex; align-items: center; justify-content: center;"
          >
            <h2 class="about-step-card-text" style="font-weight: 600;">
              Algorithm
            </h2>
            <p class="about-pc-content-2" style="display: none;">
              Then, we monitor and analyse the data, and make forecasts based on it.
            </p>
          </div>

          <div 
            class="about-step-card-3"
            onclick="toggleW()"
            style="display: flex; align-items: center; justify-content: center;"
          >
            <h2 class="about-step-card-text" style="font-weight: 600;">
              Warnings
            </h2>
            <p class="about-pc-content-3" style="display: none;">
              Now we warn, advise and inform the public with existing data and forecasts.
            </p>
          </div>

          <div 
            class="about-step-card-4"
            onclick="toggleC()"
            style="display: flex; align-items: center; justify-content: center;"
          >
            <h2 class="about-step-card-text" style="font-weight: 600;">
              Community
            </h2>
            <p class="about-pc-content-4" style="display: none;">
              Lastly we encourage the community to take actions to reduce pollutant emissions.
            </p>
          </div>
        </div>
        <!-- </pc> -->


        <!-- <mobile> -->
        <div class="about-mobile">
          <div class="about-mobile-1" style="opacity: 1; z-index: 99;">
            <h1 class="about-mobile-title">
              Data
            </h1>
            <p>
              We collect data from sensors, and responses from a survey.
            </p>
            <div class="arrow bounce" onclick="toA()" id="arrow1">
              <a class="fa fa-arrow-down fa-2x" href="#" onclick="return false;"></a>
            </div>
          </div>

          <div class="about-mobile-2" style="opacity: 0; pointer-events: none;">
            <h1 class="about-mobile-title">
              Algorithm
            </h1>
            <p>
              Then, we monitor and analyse the data, and make forecasts based on it.
            </p>
            <div class="arrow bounce" onclick="toW()" id="arrow2">
              <a class="fa fa-arrow-down fa-2x" href="#" onclick="return false;"></a>
            </div>
          </div>

          <div class="about-mobile-3" style="opacity: 0; pointer-events: none;">
            <h1 class="about-mobile-title">
              Warnings
            </h1>
            <p>
              Now we warn, advise and inform the public with existing data and forecasts.
            </p>
            <div class="arrow bounce" onclick="toC()" id="arrow3">
              <a class="fa fa-arrow-down fa-2x" href="#" onclick="return false;"></a>
            </div>
          </div>

          <div class="about-mobile-4" style="opacity: 0; pointer-events: none;">
            <h1 class="about-mobile-title">
              Community
            </h1>
            <p>
              Lastly we encourage the community to take actions to reduce pollutant emissions.
            </p>
            <div class="arrow bounce" onclick="toTop()" id="arrow4">
              <a class="fa fa-arrow-up fa-2x" href="#" onclick="return false;"></a>
            </div>
          </div>
        </div>
        <!-- </mobile> -->


        <!-- <corner pieces> -->
        <div class="num-bg-1"></div>
        <div class="num-bg-2"></div>
        <div class="num-bg-3"></div>
        <div class="num-bg-4"></div>
        <h2 
          class="about-step-number-1" 
          style="opacity: 1; background: white; color: black;" 
          onclick="toTop()"
        >
          1
        </h2>
        <h2
          class="about-step-number-2" 
          style="opacity: 0.3;"
          onclick="toA()"
        >
          2
        </h2>
        <h2 
          class="about-step-number-3" 
          style="opacity: 0.3;"
          onclick="toW()"
        >
          3
        </h2>
        <h2 
          class="about-step-number-4" 
          style="opacity: 0.3;"
          onclick="toC()"
        >
          4
        </h2>

      </div>

    </div>

  </main>

  <!--footer previously here-->
  <%- include('../partials/footer.ejs'); %>
  
</body>

<script>
  let dtile = document.querySelector(".about-step-card-1")
  let atile = document.querySelector(".about-step-card-2")
  let wtile = document.querySelector(".about-step-card-3")
  let ctile = document.querySelector(".about-step-card-4")

  let stepnum1 = document.querySelector(".about-step-number-1")
  let stepnum2 = document.querySelector(".about-step-number-2")
  let stepnum3 = document.querySelector(".about-step-number-3")
  let stepnum4 = document.querySelector(".about-step-number-4")

  let content1 = document.querySelector(".about-pc-content-1")
  let content2 = document.querySelector(".about-pc-content-2")
  let content3 = document.querySelector(".about-pc-content-3")
  let content4 = document.querySelector(".about-pc-content-4")

  var width = window.innerWidth
  var height = window.innerHeight

  // COCKNEY JOKE
  accent = false
  changeaccentp = document.getElementById("about-intro-p")
  changeaccenttitle = document.getElementById("about-intro-title")
  const cockney = () => {
    accent = !accent
    if (accent) {
      changeaccentp.innerHTML = 
      "The chuffin' Environment is a crucial part o' us lives, it affects evryfink from us immediate surroundings ter us daily routines. 'owever, right, like evryfink else we need ter make sure that we are takin' good care o' it in return, do wot Guvnor! Until now most blokes 'ave been conservin' the environment individually, i'n it? Project ECO seeks ter unite the bleedin' community into one combined effort ter reduce effects o' pollution."
      changeaccenttitle.innerHTML =
      `
      'bout us
      <div style="margin-bottom: 20px;">project</div>
      `
    } else {
      changeaccentp.innerHTML = 
      "The Environment is a crucial part of our lives, it affects everything from our immediate surroundings to our daily routines. However, like everything else we need to make sure that we are taking good care of it in return. Until now most people have been conserving the environment individually. Project ECO seeks to unite the community into one combined effort to reduce effects of pollution."
      changeaccenttitle.innerHTML =
      `
      About<br>
      Project<br>
      Eco<br>
      `
    }
  }

  window.addEventListener('resize', () => {
    if (typeof (window.innerWidth) == 'number') {
      width = window.innerWidth;
      height = window.innerHeight;
    } else {
      if (document.documentElement && (document.documentElement.clientWidth || document.documentElement.clientHeight)) {
        width = document.documentElement.clientWidth;
        height = document.documentElement.clientHeight;
      } else {
        if (document.body && (document.body.clientWidth || document.body.clientHeight)) {
          width = document.body.clientWidth;
          height = document.body.clientHeight;
        }
      }
    }
  })

  const toA = () => {
    window.scrollTo(0, (height * 2 + 10))
  }
  const toW = () => {
    window.scrollTo(0, (height * 3 + 10))
  }
  const toC = () => {
    window.scrollTo(0, (height * 4 + 10))
  }
  const toTop = () => {
    window.scrollTo(0, height)
  }

  const toggleD = () => {
    dtile.style.cssText = `
      left: 10px;
      top: 10px;
      width: calc(80% - 15px);
      height: calc(80% - 15px);
      padding: 30px;
    `
    atile.style.cssText = `
      right: 10px;
      top: 10px;
      width: calc(20% - 15px);
      height: calc(80% - 15px);
      display: flex;
      align-items: center;
      justify-content: center;
    `
    wtile.style.cssText = `
      right: 10px;
      bottom: 10px;
      width: calc(20% - 15px);
      height: calc(20% - 15px);
      display: flex;
      align-items: center;
      justify-content: center;
    `
    ctile.style.cssText = `
      left: 10px;
      bottom: 10px;
      width: calc(80% - 15px);
      height: calc(20% - 15px);
      display: flex;
      align-items: center;
      justify-content: center;
    `

    stepnum1.style.cssText = `
      opacity: 1;
      background: white;
      color: black;
    `
    stepnum2.style.cssText = `
      opacity: 0.3;
      background: black;
      color: white;
    `
    stepnum3.style.cssText = `
      opacity: 0.3;
      background: black;
      color: white;
    `
    stepnum4.style.cssText = `
      opacity: 0.3;
      background: black;
      color: white;
    `

    content1.style.display = "block"
    content2.style.display = "none"
    content3.style.display = "none"
    content4.style.display = "none"
  }
  const toggleA = () => {
    dtile.style.cssText = `
      left: 10px;
      top: 10px;
      width: calc(20% - 15px);
      height: calc(80% - 15px);
      display: flex;
      align-items: center;
      justify-content: center;
    `
    atile.style.cssText = `
      right: 10px;
      top: 10px;
      width: calc(80% - 15px);
      height: calc(80% - 15px);
      padding: 30px;
    `
    wtile.style.cssText = `
      right: 10px;
      bottom: 10px;
      width: calc(80% - 15px);
      height: calc(20% - 15px);
      display: flex;
      align-items: center;
      justify-content: center;
    `
    ctile.style.cssText = `
      left: 10px;
      bottom: 10px;
      width: calc(20% - 15px);
      height: calc(20% - 15px);
      display: flex;
      align-items: center;
      justify-content: center;
    `

    stepnum1.style.cssText = `
      opacity: 0.3;
      background: black;
      color: white;
    `
    stepnum2.style.cssText = `
      opacity: 1;
      background: white;
      color: black;
    `
    stepnum3.style.cssText = `
      opacity: 0.3;
      background: black;
      color: white;
    `
    stepnum4.style.cssText = `
      opacity: 0.3;
      background: black;
      color: white;
    `

    content1.style.display = "none"
    content2.style.display = "block"
    content3.style.display = "none"
    content4.style.display = "none"
  }
  const toggleW = () => {
    dtile.style.cssText = `
      left: 10px;
      top: 10px;
      width: calc(20% - 15px);
      height: calc(20% - 15px);
      display: flex;
      align-items: center;
      justify-content: center;
    `
    atile.style.cssText = `
      right: 10px;
      top: 10px;
      width: calc(80% - 15px);
      height: calc(20% - 15px);
      display: flex;
      align-items: center;
      justify-content: center;
    `
    wtile.style.cssText = `
      right: 10px;
      bottom: 10px;
      width: calc(80% - 15px);
      height: calc(80% - 15px);
      padding: 30px;
    `
    ctile.style.cssText = `
      left: 10px;
      bottom: 10px;
      width: calc(20% - 15px);
      height: calc(80% - 15px);
      display: flex;
      align-items: center;
      justify-content: center;
    `

    stepnum1.style.cssText = `
      opacity: 0.3;
      background: black;
      color: white;
    `
    stepnum2.style.cssText = `
      opacity: 0.3;
      background: black;
      color: white;
    `
    stepnum3.style.cssText = `
      opacity: 1;
      background: white;
      color: black;
    `
    stepnum4.style.cssText = `
      opacity: 0.3;
      background: black;
      color: white;
    `

    content1.style.display = "none"
    content2.style.display = "none"
    content3.style.display = "block"
    content4.style.display = "none"
  }
  const toggleC = () => {
    dtile.style.cssText = `
      left: 10px;
      top: 10px;
      width: calc(80% - 15px);
      height: calc(20% - 15px);
      display: flex;
      align-items: center;
      justify-content: center;
    `
    atile.style.cssText = `
      right: 10px;
      top: 10px;
      width: calc(20% - 15px);
      height: calc(20% - 15px);
      display: flex;
      align-items: center;
      justify-content: center;
    `
    wtile.style.cssText = `
      right: 10px;
      bottom: 10px;
      width: calc(20% - 15px);
      height: calc(80% - 15px);
      display: flex;
      align-items: center;
      justify-content: center;
    `
    ctile.style.cssText = `
      left: 10px;
      bottom: 10px;
      width: calc(80% - 15px);
      height: calc(80% - 15px);
      padding: 30px;
    `

    stepnum1.style.cssText = `
      opacity: 0.3;
      background: black;
      color: white;
    `
    stepnum2.style.cssText = `
      opacity: 0.3;
      background: black;
      color: white;
    `
    stepnum3.style.cssText = `
      opacity: 0.3;
      background: black;
      color: white;
    `
    stepnum4.style.cssText = `
      opacity: 1;
      background: white;
      color: black;
    `

    content1.style.display = "none"
    content2.style.display = "none"
    content3.style.display = "none"
    content4.style.display = "block"
  }

  if (width < 900) {
    window.addEventListener("scroll", (event) => {
      let scroll = this.scrollY;
      
      let mobile1 = document.querySelector(".about-mobile-1")
      let mobile2 = document.querySelector(".about-mobile-2")
      let mobile3 = document.querySelector(".about-mobile-3")
      let mobile4 = document.querySelector(".about-mobile-4")

      let arrow1 = document.querySelector("#arrow1")
      let arrow2 = document.querySelector("#arrow2")
      let arrow3 = document.querySelector("#arrow3")
      let arrow4 = document.querySelector("#arrow4")

      if (scroll <= height * 2) {
        mobile1.style.cssText = `
          opacity: 1;
          z-index: 99;
        `
        mobile2.style.cssText = `
          opacity: 0;
          pointer-events: none;
        `
        mobile3.style.cssText = `
          opacity: 0;
          pointer-events: none;
        `
        mobile4.style.cssText = `
          opacity: 0;
          pointer-events: none;
        `

        stepnum1.style.cssText = `
          opacity: 1;
          background: white;
          color: black;
        `
        stepnum2.style.cssText = `
          opacity: 0.3;
          background: black;
          color: white;
        `
        stepnum3.style.cssText = `
          opacity: 0.3;
          background: black;
          color: white;
        `
        stepnum4.style.cssText = `
          opacity: 0.3;
          background: black;
          color: white;
        `
        arrow1.style.display = "block"
        arrow2.style.display = "none"
        arrow3.style.display = "none"
        arrow4.style.display = "none"
      } else if ((scroll > height * 2) && (scroll <= height * 3)) {
        mobile1.style.cssText = `
          opacity: 0;
          pointer-events: none;
        `
        mobile2.style.cssText = `
          opacity: 1;
          z-index: 99;
        `
        mobile3.style.cssText = `
          opacity: 0;
          pointer-events: none;
        `
        mobile4.style.cssText = `
          opacity: 0;
          pointer-events: none;
        `

        stepnum1.style.cssText = `
          opacity: 0.3;
          background: black;
          color: white;
        `
        stepnum2.style.cssText = `
          opacity: 1;
          background: white;
          color: black;
        `
        stepnum3.style.cssText = `
          opacity: 0.3;
          background: black;
          color: white;
        `
        stepnum4.style.cssText = `
          opacity: 0.3;
          background: black;
          color: white;
        `

        arrow1.style.display = "none"
        arrow2.style.display = "block"
        arrow3.style.display = "none"
        arrow4.style.display = "none"
      } else if ((scroll > height * 3) && (scroll <= height * 4)) {
        mobile1.style.cssText = `
          opacity: 0;
          pointer-events: none;
        `
        mobile2.style.cssText = `
          opacity: 0;
          pointer-events: none;
        `
        mobile3.style.cssText = `
          opacity: 1;
          z-index: 99;
        `
        mobile4.style.cssText = `
          opacity: 0;
          pointer-events: none;
        `

        stepnum1.style.cssText = `
          opacity: 0.3;
          background: black;
          color: white;
        `
        stepnum2.style.cssText = `
          opacity: 0.3;
          background: black;
          color: white;
        `
        stepnum3.style.cssText = `
          opacity: 1;
          background: white;
          color: black;
        `
        stepnum4.style.cssText = `
          opacity: 0.3;
          background: black;
          color: white;
        `

        arrow1.style.display = "none"
        arrow2.style.display = "none"
        arrow3.style.display = "block"
        arrow4.style.display = "none"
      } else if (scroll > height * 4) {
        mobile1.style.cssText = `
          opacity: 0;
          pointer-events: none;
        `
        mobile2.style.cssText = `
          opacity: 0;
          pointer-events: none;
        `
        mobile3.style.cssText = `
          opacity: 0;
          pointer-events: none;
        `
        mobile4.style.cssText = `
          opacity: 1;
          z-index: 99;
        `

        stepnum1.style.cssText = `
          opacity: 0.3;
          background: black;
          color: white;
        `
        stepnum2.style.cssText = `
          opacity: 0.3;
          background: black;
          color: white;
        `
        stepnum3.style.cssText = `
          opacity: 0.3;
          background: black;
          color: white;
        `
        stepnum4.style.cssText = `
          opacity: 1;
          background: white;
          color: black;
        `

        arrow1.style.display = "none"
        arrow2.style.display = "none"
        arrow3.style.display = "none"
        arrow4.style.display = "block"
      }
    })
  } else {
    content1.style.display = "block"

    window.addEventListener("scroll", (event) => {
      let scroll = this.scrollY
      
      if (scroll <= height * 2) {
        toggleD()
      } else if ((scroll > height * 2) && (scroll <= height * 3)) {
        toggleA()
      } else if ((scroll > height * 3) && (scroll <= height * 4)) {
        toggleW()
      } else if (scroll > height * 4) {
        toggleC()
      }
    })
  }
</script>