<!DOCTYPE html>
<html lang="en">

  <head>
    <%- include('../partials/head.ejs'); %>
    <link rel="stylesheet" href="/static/stylesheets/about.css">
  </head>

  <body id="about-body">
  
    <header>
      <%- include('../partials/navbar.ejs'); %>
    </header>

    <main>

      <div class="about-container">
        <h1 class="title">
          About Us
          <hr>
        </h1>
        
        <div class="body-text">

          <h2>Our Mission</h2>
          <p class="text-body">
            Our Mission is to alert the community about environmental conditions, and empower them to take change.
          </p>

          <h2>We aim to</h2>
          <p class="text-body">
            We aim to increase awareness of the environment's effects on mental health.
          </p>
          
          <h2>How?</h2>
          <p class="text-body">
            <li>we collect data from sensors, and responses from a survey;</li>
            <li>we monitor and analyse the data, and make forecasts;</li>
            <li>we warn, advise and inform the public;</li>
            <li>then we encourage the community to take actions to reduce pollutant emissions.</li>
          </p>
          
          <!--<img class="text-image" src="/static/assets/about/diagram.webp">-->

        </div>

        <!-- <img id="some-arrow-things" src="../static/assets/about/Arrow.png" alt="not a walrus"> -->

        <section style="height: 200px;"></section>

      </div>

    </main>

    <footer>
      <%- include('../partials/footer.ejs'); %>
    </footer>
    
  </body>
</html>
