<!Doctype HTML>
<html lang="en">

  <head>

    <%- include('../partials/head.ejs'); %>

    <!--<link rel="stylesheet" href="/static/stylesheets/about.css">-->

  </head>

  <body>
  
    <header>
      <%- include('../partials/header.ejs'); %>
    </header>

    <main>

      <div class="container" style="padding: 25px 50px 25px">
        <div class="row">

          <div class="col"  data-aos="zoom-out-right">
            <div>
              <h1> Introduction </h1>
              <p>
                <b>The Environment is a crucial part of our lives </b>, it affects everything from our immediate surroundings to our daily routines. However, like everything else we need to make sure that we are taking good care of it in return. Until now most people have been conserving the environment individually. Project ECO seeks to unite the community into one combined effort to reduce effects of pollution.
              </p>

              <p> 
              Project Eco is the first project of Team Engima, Harrow School's AI group.

              Project Eco consists of four main parts;

              <ul>
              <li>A webserver (and by extension, a website) </li>
              <li>Sensors on ESP-32 boards</li>
              <li>An AI server, with Pytorch</li>
              <li>A set of forms</li>
              </ul>

              </p>

            </div>
          </div>

          <div class="col"  data-aos="zoom-out-left">
            <img src="/static/assets/about/some-leaves.webp" class="img-fluid rounded-3">

         </div>

        </div>
      </div>

    </main>

    <footer>
      <%- include('../partials/footer.ejs'); %>
    </footer>
    
  </body>
</html>
