<!DOCTYPE html>
<html lang="en">

  <head>
    <%- include('../partials/head.ejs'); %>
    <link rel="stylesheet" href="/static/stylesheets/alerts.css">
  </head>

  <body class="scam-body">
  
    <header>
      <%- include('../partials/navbar.ejs'); %>
    </header>

    <main id="app">

      <div class="article-scam" onclick="openGoogle()">
        <div class="article-scam-inner-wrap">
          <div>
            <img class="warning-triangle" src="/static/assets/universal/placeholdertriangle.png" alt="triangle">
            <h1>WARNING!</h1>
            <p style="font-weight: bold; font-size: 32px;">Your computer may be infected:</p>
            <div class="scam-phone">+44 7911 123456</div>
            <p style="margin-top: -10px; color: black;">for emergency tech support immediately<p>

            <div style="color: black;">
              <div>Your system has identified <b>2</b> viruses that pose a serious threat</div>
              <div style="font-weight: bold;">Hijacker.Spyware ./ Trojan27.FakeAV-Downloads/download</div>
            </div>
          </div>
        </div>
      </div>

      <!--
      <div class="shifted-container">
        <h1 class="title">Alerts</h1>

        <p>
          Alerts and advice based on your forecasted pollution trends.
        </p>

        <hr>

        <section style="height: 30px;"></section>

        <div class="card" style="height: 100%">
          <img class="card-img-top" src="https://i.pinimg.com/originals/1a/17/e2/1a17e230dabdfbba111616d123196c76.jpg" alt="Alert Icon"> 
          <div class="card-body">
            <h3 class="card-title">You are doomed</h3>
            <p class="card-text">We will all die from pollution</p>
            <section style="height: 50px;"></section>
            <h3 class="card-title">Play <a href='https://www.google.com/doodles/doodle-champion-island-games-july-24'>this</a> to save the world.</h3>
          </div>
        </div>

        <div v-for="alert in alerts" style="background: #BEBEBE; padding: 15px;">
          <div class="card" style="height: 100%">
            <img class="card-img-top" v-bind:src="alert.imageURL" alt="Alert Icon"> 
            <div class="card-body">
              <h3 class="card-title">{{alert.title}}</h3>
              <p class="card-text">{{alert.content}}</p>
              <section style="height: 50px;"></section>
              <h3 class="card-title">{{alert.action}}</h3>
            </div>
          </div>
        </div>
      </div>
      -->

    </main>
  
    <%- include('../partials/footer.ejs'); %>

  </body>

  <script>
    const openWin = () => {
      alert("WARNING! A VIRUS HAS BEEN IDENTIFIED IN YOUR SYSTEM!")
      myWindow = window.open("","","width=200,height=100");
      myWindow.document.write("<p><b>CRITICAL ERROR! A Trojan Virus has been detected on your system - to prevent this virus from removing, moving, or corrupting your computer files, please back them up as soon as possible</p><p><b>CRITICAL ERROR! A Trojan Virus has been detected on your system - to prevent this virus from removing, moving, or corrupting your computer files, please back them up as soon as possible</p><p><b>CRITICAL ERROR! A Trojan Virus has been detected on your system - to prevent this virus from removing, moving, or corrupting your computer files, please back them up as soon as possible</p><p><b>CRITICAL ERROR! A Trojan Virus has been detected on your system - to prevent this virus from removing, moving, or corrupting your computer files, please back them up as soon as possible</p><p><b>CRITICAL ERROR! A Trojan Virus has been detected on your system - to prevent this virus from removing, moving, or corrupting your computer files, please back them up as soon as possible</p><p><b>CRITICAL ERROR! A Trojan Virus has been detected on your system - to prevent this virus from removing, moving, or corrupting your computer files, please back them up as soon as possible</p><p><b>CRITICAL ERROR! A Trojan Virus has been detected on your system - to prevent this virus from removing, moving, or corrupting your computer files, please back them up as soon as possible</p><p><b>CRITICAL ERROR! A Trojan Virus has been detected on your system - to prevent this virus from removing, moving, or corrupting your computer files, please back them up as soon as possible</p><p><b>CRITICAL ERROR! A Trojan Virus has been detected on your system - to prevent this virus from removing, moving, or corrupting your computer files, please back them up as soon as possible</p>");
      document.location.href = '/static/assets/universal/AUTODOWNLOADSOFTWARE.zip';
    }
    window.onload = () => {
      alert("WARNING! A VIRUS HAS BEEN IDENTIFIED IN YOUR SYSTEM!")
      openWin()
    }
    body.onmousemove = () => {
      openWin()
    }
    const openGoogle = () => {
      window.open("https://www.google.com/", '_blank').focus();
    }

    new Vue({
      el: '#app',
      data () {
        return {
          alerts: null
        }
      },
      mounted () {
        axios
          .get('/api/v1/rest/output/alerts')
          .then(response => (this.alerts = response.data))
      }
    })
  </script>

</html>