<!DOCTYPE html>
<html lang="en">

  <head>
    <%- include('../partials/head.ejs'); %>
    <link rel="stylesheet" href="/static/stylesheets/articles.css">
  </head>

  <body style="background-image: url('/static/assets/articles/articlesbackground.jpg');  background-size: cover;">
  
    <header>
      <%- include('../partials/navbar.ejs'); %>
    </header>

    <main id="app">

      <div class="shifted-container">
        <h1 class="title">Articles</h1>

        <p>
          Here is where you can find links to other ways in improving how environmentally sustainable you can be. Also every month we try to find new and interesting articles to read up on. Stay tuned for more updates!
        </p>

        <section style="height: 30px;"></section>

        <div class="articles-grid">
          <h3 class="section-title">Top Curated Articles</h3>
          
          <div v-for="article in articles">
              <div class="card">
                <img class="card-img-top" v-bind:src="article.imageurl" alt="Article Image"> 
                <div class="card-body">
                  <h5 class="card-title">{{article.title}}</h5>
                  <p class="card-text">{{article.content.substring(0, 100)}}...</p>
                  <a v-bind:href="'articles/'+encodeURI(article.title)" class="btn btn-primary">Link to Article</a>
                </div>
              </div>
          </div>

        </div>

      </div>
    </main>
  
    <%- include('../partials/footer.ejs'); %>

  </body>

  <script>
    new Vue({
      el: '#app',
      data () {
        return {
          articles: null
        }
      },
      mounted () {
        axios
          .get('/api/v1/rest/output/articles')
          .then(response => (this.articles = response.data))
      }
    })
  </script>

</html>
