<!DOCTYPE html>
<html lang="en">

  <head>
    <%- include('../partials/head.ejs'); %>
    <link rel="stylesheet" href="/static/stylesheets/testarticles.css">
  </head>

  <v-if="isLoaded" body id="articles-body">

    <div id="app" >

    <main class="articles-top-intro">
    <header>
      <%- include('../partials/navbar.ejs'); %>
    </header>
    <div class="container" style="padding-top:45px">

    <h1 class="title">
      Articles
    </h1>
    <hr>

    <div v-for="article in articles">
      <div v-if="article.featured">
        <div style="position: relative; padding-bottom:10px">
          <div class="article-backlight"></div>
          <div class="p-4 p-md-5 mb-5 text-white rounded" v-bind:style="'background-image:linear-gradient(180deg, rgba(0,0,0,0.7707457983193278) 0%, rgba(0,0,0,0.6783088235294117) 100%),url(\''+article.imageurl+'\');'" id="article-block" style="position: relative;">
            <div class="col-md-6 px-0">
              <h1 class="display-4" style="font-weight: bolder">
                {{article.title}}
              </h1>
              <p class="lead my-3" v-html="article.content.substring(0, 400)+'...'"></p>
              <p class="lead mb-0">
                <a v-bind:href="'/articles/'+encodeURI(article.title)" class="text-white fw-bold">
                  To Article
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"/>
                  </svg>
                </a>
                
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
  

  <main style="background-color:black">

    <div class="container" >

    <!--row mb-2 row-cols-1 row-cols-md-2 g-4-->
    <div class="article-container-grid pt-5">
      <div v-for="article in articles" v-if="!article.featured">

        <div style="position: relative;">

          <div class="article-backlight"></div>

          <!--row g-0 flex-md-row mb-4 position-relative h-100 -->
          <div class="bg-light text-black article-frontlight shadow-sm overflow-hidden h-md-300" id="article-block" style="border-radius: 0.25rem;">

            <div>

              <div class="col-auto d-none d-lg-block w-100">
                <svg width=100% height=100% v-bind:style="'background-size:cover;background-image:linear-gradient(180deg, rgba(0,0,0,0.1707457983193278) 0%, rgba(0,0,0,0.183088235294117) 100%),url(\''+article.imageurl+'\');'" class="bd-placeholder-img" style="border-radius: 0.25rem;"></svg>
              </div>

              <div class="col p-4 d-flex flex-column position-static">
                <p class="text-muted" style="text-align: left;">
                  {{article.author}}
                  <span style="float: right;">
                    {{
                      /^[a-zA-Z]+\s([a-zA-Z]+)\s(\d+)/.exec(new Date(/^[\d]{4}-([\d]{2})-([\d]{2})/.exec(article["DATE"])[0]))[2] + ' ' + /^[a-zA-Z]+\s([a-zA-Z]+)\s(\d+)/.exec(new Date(/^[\d]{4}-([\d]{2})-([\d]{2})/.exec(article["DATE"])[0]))[1] 
                    }}
                  </span>
                </p>
                <div style="height: 100px;">
                  <a class="h3" id="new-article-card-title" v-bind:href="'/articles/'+encodeURI(article.title)">
                    {{article.title}}
                  </a>
                </div>
                <br>
                <p class="card-text mb-auto" v-html="article.content.substring(0, 100)+'...'">
                </p>
                <p style="margin-top: 25px; margin-bottom: 0;">

                  <svg xmlns="http://www.w3.org/2000/svg" width="45" height="24" fill="currentColor" class="bi bi-eye-fill" viewBox="0 0 16 16" style="margin-left: -10px;">
                    <path d="M10.5 8a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0z"/>
                    <path d="M0 8s3-5.5 8-5.5S16 8 16 8s-3 5.5-8 5.5S0 8 0 8zm8 3.5a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7z"/>
                  </svg>
                  <span style="margin-left: -10px; vertical-align: middle;">{{Math.ceil(Math.random()*10)}}</span>

                  <span style="float: right; cursor: pointer;" class="heart-like noselect" onclick="handleLike(this)">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" class="heart-like-icon" fill="red">
                      <path d="M12 4.248c-3.148-5.402-12-3.825-12 2.944 0 4.661 5.571 9.427 12 15.808 6.43-6.381 12-11.147 12-15.808 0-6.792-8.875-8.306-12-2.944z"/>
                    </svg>
                    <span class="like-count" style="margin-left: 0px; vertical-align: middle;">
                      {{Math.ceil(Math.random()*100)}}
                    </span>
                  </span>
                </p>
              </div>

            </div>

          </div>
        </div>


      </div>

      
          
    </div>


      </div>

      
          
    </div>

    <div class="container pb-5">

    <div class="row g-5 pt-5">
      <div class="col-md-8" style="color:white">
        <h3 class="pb-4 mb-4 fst-italic border-bottom">
          <!-- 
          i don't really get this, but feel free to uncomment.
          
          we can chuck a logo here l8r 
          
          -->

          <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-card-heading" viewBox="0 0 16 16">
            <path d="M14.5 3a.5.5 0 0 1 .5.5v9a.5.5 0 0 1-.5.5h-13a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h13zm-13-1A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h13a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2h-13z"/>
            <path d="M3 8.5a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5zm0 2a.5.5 0 0 1 .5-.5h6a.5.5 0 0 1 0 1h-6a.5.5 0 0 1-.5-.5zm0-5a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-9a.5.5 0 0 1-.5-.5v-1z"/>
          </svg> 
          PLACEHOLDER
        </h3>

        <article class="blog-post">
          <h2 class="blog-post-title">Article</h2>
          <p class="blog-post-meta">January 1, 2021 by <a href="#">Mark</a></p>

          <p>This blog post shows a few different types of content that’s supported and styled with Bootstrap. Basic typography, lists, tables, images, code, and more are all supported as expected.</p>
          <hr>
          <p>This is some additional paragraph placeholder content. It has been written to fill the available space and show how a longer snippet of text affects the surrounding content. We'll repeat it often to keep the demonstration flowing, so be on the lookout for this exact same string of text.</p>
        </article>

        <article class="blog-post">
          <h2 class="blog-post-title">New feature</h2>
          <p class="blog-post-meta">December 14, 2020 by <a href="#">Chris</a></p>

          <p>This is some additional paragraph placeholder content. It has been written to fill the available space and show how a longer snippet of text affects the surrounding content. We'll repeat it often to keep the demonstration flowing, so be on the lookout for this exact same string of text.</p>
          <ul>
            <li>First list item</li>
            <li>Second list item with a longer description</li>
            <li>Third list item to close it out</li>
          </ul>
          <p>This is some additional paragraph placeholder content. It's a slightly shorter version of the other highly repetitive body text used throughout.</p>
        </article>

      </div>

      <div class="col-md-4">
        <div class="position-sticky" style="top: 2rem;">
          <div class="p-4 mb-3 bg-dark text-white rounded">
            <h4 class="fst-italic">About</h4>
            <p class="mb-0">Customize this section to tell your visitors a little bit about your publication, writers, content, or something else entirely. Totally up to you.</p>
          </div>

          <!--
          <div class="p-4">
            <h4 class="fst-italic">Archives</h4>
            <ol class="list-unstyled mb-0">
              <li><a href="#">March 2021</a></li>
              <li><a href="#">February 2021</a></li>
              <li><a href="#">January 2021</a></li>
              <li><a href="#">December 2020</a></li>
              <li><a href="#">November 2020</a></li>
              <li><a href="#">October 2020</a></li>
              <li><a href="#">September 2020</a></li>
              <li><a href="#">August 2020</a></li>
              <li><a href="#">July 2020</a></li>
              <li><a href="#">June 2020</a></li>
              <li><a href="#">May 2020</a></li>
              <li><a href="#">April 2020</a></li>
            </ol>
          </div> -->

          <div class="p-4 mb-3 bg-dark text-white rounded">
            <div class="mb-3">
              <h4 class="fst-italic">Mailing List</h4>
              <h6 class="form-label pb-2">Sign up to our mailing list</h6>
              <form class="row g-2">
                <div class="col-auto">
                  <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
                </div>
                <div class="col-auto">
                  <button type="submit" class="btn btn-primary mb-3">Sign Up</button>
                </div>
              </form>

              
              
              
            </div>
          </div>

          <div class="p-4" style="color:white">
            <h4 class="fst-italic">Elsewhere</h4>
            <ol class="list-unstyled">
              <li><a href="#">GitHub</a></li>
              <li><a href="#">Twitter</a></li>
              <li><a href="#">Facebook</a></li>
            </ol>
          </div>

          

        </div>
      </div>
    </div>
    </div>

  </div>
  </div>
  </main>
  </div>
  
    <%- include('../partials/footer.ejs'); %>

    <style>
    
    </style>

  </body>

  <script>
    new Vue({
      el: '#app',
      data () {
        return {
          articles: null,
          isLoaded: false
        }
      },
      mounted () {
        axios
          .get('/api/v1/rest/output/articles')
          .then(response => (this.articles = response.data))
          .then(this.isLoaded = true)
         }
    })
  </script>

  <script>
    const handleLike = (el) => {
      let heart = el.children[0]
      let count = el.children[1]
      let currentColor = heart.getAttribute("fill")
      let currentCount = parseInt(count.innerHTML)
      if (currentColor === "#f8f9fa") {
        heart.setAttribute("fill", "red")
        count.innerHTML = currentCount + 1
      } else {
        heart.setAttribute("fill", "#f8f9fa")
        count.innerHTML = currentCount - 1
      }
    }

    let keypresses = [null, null, null, null, null]
    window.addEventListener("keydown", (e) => {
      keypresses.push(e.key)
      keypresses.shift()
      if (arraysEqual(keypresses, ["d", "a", "v", "i", "d"])) {
        let likecounts = document.querySelectorAll(".like-count")
        let count = 7
        let superboost = 100
        for (let j = 0; j < superboost; j++) {
          setTimeout(() => {
            for (let i = 0; i < likecounts.length; i++) {
              likecounts[i].innerHTML = parseInt(likecounts[i].innerHTML) + 1
            }
          }, j * 10)
        }
      }
    })
    const arraysEqual = (a, b) => {
      if (a === b) return true;
      if (a == null || b == null) return false;
      if (a.length !== b.length) return false;
      for (var i = 0; i < a.length; ++i) {
        if (a[i] !== b[i]) return false;
      }
      return true;
    }

  </script>

</html>