<!DOCTYPE html>
<html lang="en">

  <head>
    <%- include('../partials/head.ejs'); %>
    <link rel="stylesheet" href="/static/stylesheets/articles.css">
  </head>

  <body>
  
    <header>
      <%- include('../partials/navbar.ejs'); %>
    </header>

    <main style="background-image: url('https://harrowschool-my.sharepoint.com/personal/17xud_harrowschool_org_uk/Documents/Microsoft%20Teams%20Chat%20Files/pexels-scott-webb-1931143.jpg'); background-size: cover;">

      <div class="shifted-container">
        <h1 class="title">Articles</h1>

        <p>
          Here is where you can find links to other ways in improving how environmentally sustainable you can be. Also every month we try to find new and interesting articles to read up on. Stay tuned for more updates!
        </p>

        <section style="height: 30px;"></section>

        <div class="articles-grid">
          <h3 class="section-title">Top Curated Articles</h3>
          
          <div class="card">
            <img class="card-img-top" src="https://harrowschool-my.sharepoint.com/personal/17xud_harrowschool_org_uk/Documents/Microsoft%20Teams%20Chat%20Files/pexels-scott-webb-1931143.jpg" alt="Article Image">
            <div class="card-body">
              <h5 class="card-title">Greenhouse Gas Bad</h5>
              <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
              <a href="#" class="btn btn-primary">Link to Article</a>
            </div>
          </div>
          
          <div class="card">
            <img class="card-img-top" src="https://harrowschool-my.sharepoint.com/personal/17xud_harrowschool_org_uk/Documents/Microsoft%20Teams%20Chat%20Files/pexels-scott-webb-1931143.jpg" alt="Article Image">
            <div class="card-body">
              <h5 class="card-title">Article Title</h5>
              <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
              <a href="#" class="btn btn-primary">Link to Article</a>
            </div>
          </div>

          <div class="card">
            <img class="card-img-top" src="https://harrowschool-my.sharepoint.com/personal/17xud_harrowschool_org_uk/Documents/Microsoft%20Teams%20Chat%20Files/pexels-scott-webb-1931143.jpg" alt="Article Image">
            <div class="card-body">
              <h5 class="card-title">Article Title</h5>
              <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
              <a href="#" class="btn btn-primary">Link to Article</a>
            </div>
          </div>

          <div class="card">
            <img class="card-img-top" src="https://harrowschool-my.sharepoint.com/personal/17xud_harrowschool_org_uk/Documents/Microsoft%20Teams%20Chat%20Files/pexels-scott-webb-1931143.jpg" alt="Article Image">
            <div class="card-body">
              <h5 class="card-title">Article Title</h5>
              <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
              <a href="#" class="btn btn-primary">Link to Article</a>
            </div>
          </div>
        </div>

      </div>

    </main>
  
    <%- include('../partials/footer.ejs'); %>

  </body>

</html>
