<!DOCTYPE html>
<html lang="en">

  <head>
    <%- include('../partials/head.ejs'); %>
    <title>COOl!</title>
    <link rel="stylesheet" href="/static/stylesheets/coolio.css">
  </head>

  <body>
    <div id="main">
      <h4 class="display-1 text-center margin20rem">You're smart!</h4>
      <p>As a treat, you'll get exclusive ASCII art, updated at our pleasure.</p>

      <pre><code>
  ~~~~~~      ~~~~~~      ~~~~~~  
 /      \    /      \    /      \ 
/        \  /        \  /        \
|       ~|~~~~      ~|~~~        |
\      / /  \ \    / /  \ \      /
 \    / /    \ \  / /    \ \    / 
  ~~~~|~      ~~~~|~      ~~~~~~  
      \        /  \        /      
       \      /    \      /       
        ~~~~~~      ~~~~~~        
                                  
    Contributed by PerceptronV    
      </code></pre>

      <p>Wanna contribute to our weekly ASCII art? Wanna do AI stuff together? Wanna peek into our codebase?<br/>Please.<br/></p>
      <blockquote class="blockquote"> >>> 
        <a href="mailto:enigma.harrow@gmail.com">enigma.harrow@gmail.com</a> <<<
      </blockquote>
    </div>
  </body>
</html>