<!DOCTYPE html>
<html lang="en">
<head>

  <%- include('../partials/head.ejs'); %>
</head>
<body>
  <header>
    <%- include('../partials/header.ejs'); %>
  </header>

  <main>
      <canvas id="myChart" style="width:100%;max-width:700px"></canvas>

      <script>

      var myChart = new Chart("myChart", {
        type: "line",
        data: {
              datasets: [
                {
                    data: [],
                    backgroundColor: '#32A852',
                    lineTension: 0.40
                }] 
              },           
        options: {
          scales: {
            xAxes: [{
              type: 'time'
            }]
          }
        }

        });

      function dataanalyser(metric,location, datasource) {
                    
          inputlabels = []
          inputvalues = []
          inputboth = []
          outputboth = []

          for (dataset in datasource.data) {
            inputboth.push({
              "x":datasource.data[dataset].DATE,
              "y":datasource.data[dataset].LOCATION1
            })
          }
        
          // Sort array by date in ASCENDING order
          inputboth.sort(function (a, b) {
            if (Date.parse(a.x) < Date.parse(b.x)) {
            return -1;
            }
            if (Date.parse(a.x) > Date.parse(b.x)) {
            return 1;
            }
            return 0;
          });

          for (dataset in inputboth) {
            outputboth.push({
              "x": moment(inputboth[dataset].x).format('MMMM Do YYYY, h:mm:ss a'),
              "y": inputboth[dataset].y
            }) }
          return inputboth;

        }

        var socket = io.connect()
        socket.on('message', function (value) {

          (myChart.data.datasets[0].data) = dataanalyser("CO2", "LOCATION1", value)
          console.log(value)
          myChart.update()
          
        })
      </script>

  </main>

  <footer id="Harrow football" style="margin-bottom: -50px;">
      <!-- Include Header -->
      <%- include('../partials/footer.ejs'); %>
  </footer>
  
</body>
</html>
