<!DOCTYPE html>
<html lang="en">

  <head>
    <%- include('../partials/head.ejs'); %>
    <link rel="stylesheet" href="/static/stylesheets/universal.css">
  </head>

  <body>
  
    <header>
      <%- include('../partials/navbar.ejs'); %>
    </header>

    <main>

            <div class="shifted-container">
              <h1 class="title">Data</h1>
              <h3> THIS IS STILL VERY VERY BUGGY </h3>
              <h5> devnote: BACKEND CODE IS STILL A MESS FOR THIS, REMEMBER TO EDIT app.js only LOCATION1 is supported (for now)</h5>

                <div id="app">
                  <div >
                    <canvas v-show="loaded" data-metric="eCO2" data-location="LOCATION1" class="line" width="400" height="150"></canvas>

                    <canvas v-show="loaded" data-metric="rawH2" data-location="LOCATION1" class="line" width="400" height="150"></canvas>
                  </div>

                  <div v-show="!loaded">

                    <div class="text-center">
                      Hold tight, we're connecting you to the data stream... 
                      <br>
                      <div class="spinner-border" role="status">
                        <span class="visually-hidden">Loading...</span>
                      </div>
                    </div>

                  </div>
                </div>

                

                <script>
                  var app = new Vue({
                        el: '#app',
                        data: {
                          data: "",
                          loaded: false
                        },
                    });

                  var socket = io.connect()

                  var fulldata = []

                  socket.on('message', function (value) {
                    inputlabels = []
                    inputvalues = []
                    inputboth = []
                    app.data = value
                    app.loaded = true

                    

                    fulldata = inputboth
                    

                  $('.line').each(function(index, element){    

                      var graphdata = []

                      for (dataset in app.data.data) {
                        graphdata.push({
                          "x":app.data.data[dataset].DATE,
                          "y":app.data.data[dataset][element.getAttribute("data-location")][element.getAttribute("data-metric")]
                        })
                      }
                      console.log(graphdata)


                      var ctx = element.getContext("2d");
                    
                      grd = ctx.createLinearGradient(0.000, 350.000, 0.000, 100.000);
                      grd.addColorStop(0.000, '#fc4a1a');
                      grd.addColorStop(1.000, '#f7b733');


                      var data = {
                        datasets: [{
                          data: graphdata,
                          label: [element.getAttribute("data-metric")]+' at '+[element.getAttribute("data-location")],
                          backgroundColor: grd,
                        }]
                      }
                      
                      var chart = new Chart(ctx, {
                        type: 'line',
                        data: data,
                        options: {
                          elements: {
                              point:{
                                  radius: 0,
                                  pointHitRadius:1
                              }
                          },
                          animation:  false,
                          scales: {
                            xAxes: [{
                              type: 'time',
                              max: new Date(),
                              min: new Date(new Date().getTime() - 1000 * 60 * 10),
                            }]
                        }
                              
                        }
                      })

                  });

                    /*
                    const sortByDate = arr => {
                      const sorter = (a, b) => {
                          return new Date(a.date).getTime() - new Date(b.date).getTime();
                          console.log(Date(a.date).getTime()
                      }
                      arr.sort(sorter);
                    };
                    sortByDate(arr);
                    console.log(arr); */
                    //data.datasets[0].data = inputvalues
                    //data.labels = inputlabels
                    //console.log(inputboth)
                    
                    /*
                    console.log(value.data[value.data.length-1])
                    
                    var length = data.labels.length
                    if (length >= 20) {
                      data.datasets[0].data.shift()
                      data.labels.shift()
                    }
                    data.labels.push(moment().format('HH:mm:ss'))
                    data.datasets[0].data.push(value)
                    
                    data.datasets[0].data = value.data[value.data.length-1].LOCATION1.Temperature
                    data.labels = value.data.DATE
                    */
                    
                  })
            </script> 

            <!-- WALRUS 
            <p>
              There's no data to browse yet, so enjoy pictures of these walrus'.
            </p>

            <hr>

            <div id="carouselExampleFade" class="carousel slide carousel-fade" data-bs-ride="carousel">
              <div class="carousel-inner">

                <div class="carousel-item active">
                  <img src="https://upload.wikimedia.org/wikipedia/commons/2/22/Pacific_Walrus_-_Bull_%288247646168%29.jpg" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                  <img src="https://ichef.bbci.co.uk/news/976/cpsprodpb/10A55/production/_118218186_mediaitem118216244.jpg" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                  <img src="https://www.wwf.org.uk/sites/default/files/styles/hero_s/public/2019-04/Cape%20Sedtse-Kamen%20%28C%29%20Anatoly%20Kruchnev%20%281%29.JPG?h=7685ba0d&itok=f4DQojay" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                  <img src="https://cdn2.wanderlust.co.uk/media/1030/cropped-shutterstock_1229807503.jpg?anchor=center&mode=crop&width=1200&height=0&rnd=131988591290000000" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                  <img src="https://www.westerntelegraph.co.uk/resources/images/12453056/" class="d-block w-100" alt="...">
                </div>
                
              </div>

              <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
              </button>
              <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
              </button> -->

      </div>

    </main>
  
    <%- include('../partials/footer.ejs'); %>

  </body>
</html>
