<!DOCTYPE html>
<html lang="en">

  <head>
    <%- include('../partials/head.ejs'); %>
    <link rel="stylesheet" href="/static/stylesheets/universal.css">
    <link rel="stylesheet" href="/static/stylesheets/data.css">
  </head>

  <body>
  
    <header>
      <%- include('../partials/navbar.ejs'); %>
    </header>

    <main>

      <div class="shifted-container">
        <h1 class="title">Data</h1>

                <div id="app">

                 <div v-show="!loaded">

                    <div class="text-center">
                      Hold tight, we're connecting you to the data stream... 
                      <br>
                      <div class="spinner-border" role="status">
                        <span class="visually-hidden">Loading...</span>
                      </div>
                    </div>

                  </div>

                  <div v-show="loaded" class="graph-grid">
                    <div>
                      <h3><b>eC02</b></h3>
                      <canvas data-metric="eCO2" data-location="LOCATION1" class="line" responsive="true" maintainAspectRatio="true"></canvas>
                      <p class="graphinfoparagraph">
                        eCO2 – means estimated concentration of carbon dioxide calculated from known TVOC concentration. This is based on the assumption that the VOC produced by humans is proportional to their exhaled CO2. That means it gives similar signal to real CO2 sensor, in the case the main, prevailing source of air pollution in such room are people who stay inside. The analogue output of the VOC sensor is in the range 400 – 2000 ppm eCO2. - www.careforair.eu
                      </p>
                      <hr>
                    </div>

                    <div>
                      <h3><b>rawH2</b></h3>
                      <canvas data-metric="rawH2" data-location="LOCATION1" class="line" responsive="true" maintainAspectRatio="true"></canvas>
                      <p class="graphinfoparagraph">
                        Hydrogen can be produced using a number of different processes. Thermochemical processes use heat and chemical reactions to release hydrogen from organic materials, such as fossil fuels and biomass, or from materials like water. Water (H2O) can also be split into hydrogen (H2) and oxygen (O2) using electrolysis or solar energy. Microorganisms such as bacteria and algae can produce hydrogen through biological processes. - www.energy.gov/
                      </p>
                      <hr>
                    </div>

                    <div>
                      <h3><b>TVOC</b></h3>
                      <canvas data-metric="TVOC" data-location="LOCATION1" class="line" responsive="true" maintainAspectRatio="true"></canvas>
                      <p class="graphinfoparagraph">
                        Volatile organic compounds (VOC) are organic chemicals that have a high vapour pressure at room temperature. High vapor pressure correlates with a low boiling point, which relates to the number of the sample's molecules in the surrounding air, a trait known as volatility.

                        VOCs are responsible for the odor of scents and perfumes as well as pollutants. VOCs play an important role in communication between animals and plants, e.g. attractants for pollinators, protection from predation,and even inter-plant interactions.Some VOCs are dangerous to human health or cause harm to the environment. Anthropogenic VOCs are regulated by law, especially indoors, where concentrations are the highest. Most VOCs are not acutely toxic, but may have long-term chronic health effects.
                        - Wikipedia, the online encyclopedia
                      </p>
                      <hr>
                    </div>

                    <div>
                      <h3><b>rawEthanol</b></h3>
                      <canvas  data-metric="rawEthanol" data-location="LOCATION1" class="line" responsive="true" maintainAspectRatio="true"></canvas>
                      <p class="graphinfoparagraph">
                        Ethanol (also called ethyl alcohol, grain alcohol, drinking alcohol, or simply alcohol) is an organic chemical compound. It is a simple alcohol with the chemical formula C2H6O. Its formula can be also written as CH 3−CH 2−OH or C2H 5OH (an ethyl group linked to a hydroxyl group), and is often abbreviated as EtOH. Ethanol is a volatile, flammable, colorless liquid with a slight characteristic odor. It is a psychoactive drug, recreational drug, and the active ingredient in alcoholic drinks.

                        Ethanol is naturally produced by the fermentation of sugars by yeasts or via petrochemical processes such as ethylene hydration. It has medical applications as an antiseptic and disinfectant. It is used as a chemical solvent and in the synthesis of organic compounds. Ethanol is a fuel source.
                      </p>
                      <hr>
                    </div>
                    
                  </div>

                 
                </div>

                

                <script>
                  var app = new Vue({
                        el: '#app',
                        data: {
                          data: "",
                          loaded: false
                        },
                    });

                  var socket = io.connect()

                  var fulldata = []

                  socket.on('message', function (value) {
                    inputlabels = []
                    inputvalues = []
                    inputboth = []
                    app.data = value
                    app.loaded = true

                    

                    fulldata = inputboth
                    

                  $('.line').each(function(index, element){    

                      var graphdata = []

                      for (dataset in app.data.data) {
                        graphdata.push({
                          "x":app.data.data[dataset].DATE,
                          "y":app.data.data[dataset][element.getAttribute("data-location")][element.getAttribute("data-metric")]
                        })
                      }

                      var ctx = element.getContext("2d");
                    
                      grd = ctx.createLinearGradient(0.000, 350.000, 0.000, 100.000);
                      grd.addColorStop(0.000, '#fc4a1a');
                      grd.addColorStop(1.000, '#f7b733');


                      var data = {
                        datasets: [{
                          data: graphdata,
                          label: [element.getAttribute("data-metric")]+' at '+[element.getAttribute("data-location")],
                          backgroundColor: grd,
                        }]
                      }
                      
                      var chart = new Chart(ctx, {
                        type: 'line',
                        data: data,
                        options: {
                          elements: {
                              point:{
                                  radius: 0,
                                  pointHitRadius:1
                              }
                          },
                          animation:  false,
                          scales: {
                            xAxes: [{
                              type: 'time',
                              max: new Date(),
                              min: new Date(new Date().getTime() - 1000 * 60 * 10),
                            }]
                        }
                              
                        }
                      })

                  });

                    /*
                    const sortByDate = arr => {
                      const sorter = (a, b) => {
                          return new Date(a.date).getTime() - new Date(b.date).getTime();
                          console.log(Date(a.date).getTime()
                      }
                      arr.sort(sorter);
                    };
                    sortByDate(arr);
                    console.log(arr); */
                    //data.datasets[0].data = inputvalues
                    //data.labels = inputlabels
                    //console.log(inputboth)
                    
                    /*
                    console.log(value.data[value.data.length-1])
                    
                    var length = data.labels.length
                    if (length >= 20) {
                      data.datasets[0].data.shift()
                      data.labels.shift()
                    }
                    data.labels.push(moment().format('HH:mm:ss'))
                    data.datasets[0].data.push(value)
                    
                    data.datasets[0].data = value.data[value.data.length-1].LOCATION1.Temperature
                    data.labels = value.data.DATE
                    */
                    
                  })
            </script> 

            <!-- WALRUS 
            <p>
              There's no data to browse yet, so enjoy pictures of these walrus'.
            </p>

            <hr>

            <div id="carouselExampleFade" class="carousel slide carousel-fade" data-bs-ride="carousel">
              <div class="carousel-inner">

                <div class="carousel-item active">
                  <img src="https://upload.wikimedia.org/wikipedia/commons/2/22/Pacific_Walrus_-_Bull_%288247646168%29.jpg" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                  <img src="https://ichef.bbci.co.uk/news/976/cpsprodpb/10A55/production/_118218186_mediaitem118216244.jpg" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                  <img src="https://www.wwf.org.uk/sites/default/files/styles/hero_s/public/2019-04/Cape%20Sedtse-Kamen%20%28C%29%20Anatoly%20Kruchnev%20%281%29.JPG?h=7685ba0d&itok=f4DQojay" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                  <img src="https://cdn2.wanderlust.co.uk/media/1030/cropped-shutterstock_1229807503.jpg?anchor=center&mode=crop&width=1200&height=0&rnd=131988591290000000" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                  <img src="https://www.westerntelegraph.co.uk/resources/images/12453056/" class="d-block w-100" alt="...">
                </div>
                
              </div>

              <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
              </button>
              <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
              </button> -->

      </div>

    </main>
  
    <%- include('../partials/footer.ejs'); %>

  </body>
</html>
