<!DOCTYPE html>
<html lang="en">

  <head>
    <%- include('../partials/head.ejs'); %>
    <link rel="stylesheet" href="/static/stylesheets/universal.css">
  </head>

  <body>
  
    <header>
      <%- include('../partials/navbar.ejs'); %>
    </header>

    <main>

      <div class="shifted-container">
        <h1 class="title">Data</h1>

        <p>
          There's no data to browse yet, so enjoy pictures of these walrus'.
        </p>

        <hr>

        <div id="carouselExampleFade" class="carousel slide carousel-fade" data-bs-ride="carousel">
          <div class="carousel-inner">

            <div class="carousel-item active">
              <img src="https://upload.wikimedia.org/wikipedia/commons/2/22/Pacific_Walrus_-_Bull_%288247646168%29.jpg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
              <img src="https://ichef.bbci.co.uk/news/976/cpsprodpb/10A55/production/_118218186_mediaitem118216244.jpg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
              <img src="https://www.wwf.org.uk/sites/default/files/styles/hero_s/public/2019-04/Cape%20Sedtse-Kamen%20%28C%29%20Anatoly%20Kruchnev%20%281%29.JPG?h=7685ba0d&itok=f4DQojay" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
              <img src="https://cdn2.wanderlust.co.uk/media/1030/cropped-shutterstock_1229807503.jpg?anchor=center&mode=crop&width=1200&height=0&rnd=131988591290000000" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
              <img src="https://www.westerntelegraph.co.uk/resources/images/12453056/" class="d-block w-100" alt="...">
            </div>
            
          </div>

          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>

        </div>

    </main>
  
    <%- include('../partials/footer.ejs'); %>

  </body>
</html>
