<!DOCTYPE html>
<html lang="en">

  <head>
    <%- include('../partials/head.ejs'); %>
    <link rel="stylesheet" href="/static/stylesheets/universal.css">
  </head>

  <body>
  
    <header>
      <%- include('../partials/navbar.ejs'); %>
    </header>

    <main>

      <div class="shifted-container">
        <h1 class="title">Error</h1>

        <p>
          Error Code  : <%= errorname %>, that's all we have! 
        </p>
    </main>
  
    <%- include('../partials/footer.ejs'); %>

  </body>

</html>
