<!DOCTYPE html>
<html lang="en">
<head>

  <%- include('../partials/head.ejs'); %>
</head>
<body>
  <header>
    <%- include('../partials/header.ejs'); %>
  </header>


  <footer id="Harrow football" style="margin-bottom: -50px;">
      <!-- Include Header -->
      <%- include('../partials/footer.ejs'); %>
  </footer>
  
</body>
</html>