<!DOCTYPE html>
<html lang="en">
<head>

  <%- include('../partials/head.ejs'); %>
</head>
<body>
  <header>
    <%- include('../partials/header.ejs'); %>
  </header>

  <main>

    <div id="app">
      {{data.data[data.data.length-1]["LOCATION1"]["Temperature"]}}
    </div>

    <canvas id="chart" width="400" height="150"></canvas>

    <script>
      var app = new Vue({
            el: '#app',
            data: {
              data: "<i>Loading</i>",
              loaded: false
            },
          });

      var socket = io.connect()
      var ctx = document.getElementById('chart').getContext('2d')
      var data = {
        labels: [0],
        datasets: [{
          data: [],
          label: 'CO2',
          backgroundColor: '#32a852'
        }]
      }
      var chart = new Chart(ctx, {
        type: 'line',
        data: data,
        options: {
          animation: false,
          scales: {
            xAxes: [{
              type: 'time'
            }]
        }
              
        }
      })

      socket.on('message', function (value) {
        inputlabels = []
        inputvalues = []
        inputboth = []

        app.data = value
        app.loaded = true

        for (dataset in value.data) {
          inputboth.push({
            "x":value.data[dataset].DATE,
            "y":value.data[dataset].LOCATION1.CO2
          })
        }
       
        // Sort array by date in ASCENDING order
        inputboth.sort(function (a, b) {
          if (Date.parse(a.x) < Date.parse(b.x)) {
           return -1;
           }
          if (Date.parse(a.x) > Date.parse(b.x)) {
          return 1;
           }
          return 0;
        });

        data.datasets[0].data = inputboth

        

        /*

        const sortByDate = arr => {
          const sorter = (a, b) => {
              return new Date(a.date).getTime() - new Date(b.date).getTime();
              console.log(Date(a.date).getTime()
          }
          arr.sort(sorter);
        };
        sortByDate(arr);
        console.log(arr); */

        //data.datasets[0].data = inputvalues
        //data.labels = inputlabels

        //console.log(inputboth)
        
        /*
        console.log(value.data[value.data.length-1])

        
        var length = data.labels.length
        if (length >= 20) {
          data.datasets[0].data.shift()
          data.labels.shift()
        }

        data.labels.push(moment().format('HH:mm:ss'))
        data.datasets[0].data.push(value)
        

        data.datasets[0].data = value.data[value.data.length-1].LOCATION1.Temperature
        data.labels = value.data.DATE

        */
        chart.update()
        
      })
  </script>

  </main>

  <footer id="Harrow football" style="margin-bottom: -50px;">
      <!-- Include Header -->
      <%- include('../partials/footer.ejs'); %>
  </footer>
  
</body>
</html>