<!DOCTYPE HTML>
<html lang="en">

  <head>
    <!-- Include Header -->
    <%- include('../partials/head.ejs'); %>

    <link rel="stylesheet" href="/static/stylesheets/index.css">
    
  </head>

  <body>
    <!-- UNIQUE Header -->
    <header>
      <nav class="navbar navbar-expand-lg navbar-light" style="height:85px">

        <div class="container-fluid">

          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav navbar-center">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">About</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Resources</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
      <div>

    <!-- TypingText Card-->
    <div style="padding-left:50px; padding-top:100px" class="container-fluid">
      <div class="card border-0 bg-transparent" style="width: 40rem;">
        <div class="card-body">

          <script src="/static/js/typingtext.js"></script>
          <h1 style="font-size:96px" class="typewrite" data-period="2000" data-type='[ "Project Eco.", "By Team Enigma", "A Harrow School Team", "AI driven pollution data analysis" ]'>
            <span class="wrap"></span>
          </h1>

        </div>
      </div>
    </div>
  
    </header>

    <div style="padding: 25px 50px 25px">

        let's imagine there's some data here
    
        <h1 data-aos="fade-right"> The project </h1>
        <p data-aos="fade-right">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer sagittis sem lectus, eu euismod nisi varius ullamcorper. Suspendisse potenti. Quisque vel blandit lacus. In sed tempus quam, non ultricies risus. Nam dignissim, est sit amet aliquam bibendum, lorem erat accumsan elit, ut porttitor tortor mi nec ante. Quisque sed ante sit amet ex dictum facilisis. Donec sem nunc, iaculis vel justo at, pharetra ultrices ipsum. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Sed vel finibus massa. Etiam erat dolor, tincidunt ut lacinia et, consequat eu enim. Sed in pretium massa. Vestibulum euismod aliquet fermentum. Mauris egestas eget nisl ornare feugiat. Donec quis condimentum ligula, a tristique magna.
        </p>

        let's also imagine there's a button to about page
    </div>

    <footer id="Harrow football" style="margin-bottom: -50px;">
      <!-- Include Header -->
      <%- include('../partials/footer.ejs'); %>
    </footer>
    
    </body>
</html>