<!DOCTYPE html>
<html lang="en">
<head>

  <%- include('../partials/head.ejs'); %>
</head>
<body>
  <header>
    <%- include('../partials/header.ejs'); %>
  </header>

  <main>

    <div class="container">
      <div class="row">
        <div class="col-sm">
          <canvas v-if="data.loaded" id="chart"></canvas>
        </div>
        <div class="col-sm">
          test
        </div>
        <div class="col-sm">
          test
        </div>
      </div>
    </div>


    <div id="app">
      <div v-if="data.loaded">
        {{data.data[data.data.length-1]["LOCATION1"]["Temperature"]}}
      </div>
    </div>

    <script src="/static/js/universal/vue.js"></script>

    <script> 
      var ctx = document.getElementById('chart').getContext('2d')
      var data = {
        labels: [0],
        datasets: [{
          data: [],
          label: 'CO2',
          backgroundColor: '#32a852'
        }]
      }
      var chart = new Chart(ctx, {
        type: 'line',
        data: data,
        options: {
          animation: false,
          scales: {
            xAxes: [{
              type: 'time',
              display: false
            }],
            yAxes: [{
            		display: false,
                ticks: {
                	beginAtZero: false,
              	},
            }]
        }
              
        }
      })

      socket.on('message', function (value) {
        inputlabels = []
        inputvalues = []
        inputboth = []
        outputboth = []

        for (dataset in value.data) {
          inputboth.push({
            "x":value.data[dataset].DATE,
            "y":value.data[dataset].LOCATION1.CO2
          })
        }
       
        // Sort array by date in ASCENDING order
        inputboth.sort(function (a, b) {
          if (Date.parse(a.x) < Date.parse(b.x)) {
           return -1;
           }
          if (Date.parse(a.x) > Date.parse(b.x)) {
          return 1;
           }
          return 0;
        });

        for (dataset in inputboth) {
          outputboth.push({
            "x": moment(inputboth[dataset].x).format('MMMM Do YYYY, h:mm:ss a'),
            "y": inputboth[dataset].y
          })
        }

        (data.datasets[0].data) = outputboth

        



        chart.update()
        
      })
      </script>

  </main>

  <footer id="Harrow football" style="margin-bottom: -50px;">
      <!-- Include Header -->
      <%- include('../partials/footer.ejs'); %>
  </footer>
  
</body>
</html>