<!Doctype HTML>
<html lang="en">

  <head>
    <%- include('../partials/head'); %>

    <link rel="stylesheet" href="/static/stylesheets/index.css">
  </head>

  <body>
    <!-- UNIQUE Header -->
    <header>
      <nav class="navbar navbar-expand-lg navbar-light" style="height:85px">

        <div class="container-fluid">

          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav navbar-center">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">About</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Resources</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
      <div>

    <!-- TypingText Card-->
    <div style="padding-left:50px; padding-top:100px" class="container-fluid">
      <div class="card border-0 bg-transparent" style="width: 40rem;">
        <div class="card-body">

          <script src="/static/js/typingtext.js"></script>
          <h1 style="font-size:96px" class="typewrite" data-period="2000" data-type='[ "Project Eco", "By Team Enigma", "A Harrow School Team", "Using AI driven pollution data" ]'>
            <span class="wrap"></span>
          </h1>

        </div>
      </div>
    </div>
  
    </header>


  
  </body>
</html>
