<!DOCTYPE html>
<html lang="en">
<head>
	<%- include('../partials/head.ejs'); %>
	<link rel="stylesheet" href="/static/stylesheets/index.css">

	<!-- Typewriter Text -->
	<script type="text/javascript" src="/static/js/universal/typingtext.js"></script>
</head>

<body>

	<%- include('../partials/header.ejs'); %>

	<div class="container-fluid" id="bodyContent">

    <div id="fixedText">
      <h3 id="textfade1" style="opacity: 0;">
        <!--<span class="fixedbold" style="font-weight: bolder; white-space: nowrap;">
          <span id="messengertop" messages="[ &quot;Environment&quot; ]"></span>
        </span>-->
        The
        <span class="fixedbold">Environment</span>
        is what we
        <span class="fixedbold">breathe</span>
        and
        <span class="fixedbold">thrive</span>
        in.
      </h3>

      <div id="textfade2" style="opacity: 0;">
        <p>
          Yet how many of us actually pay attention to the quality of the environment that we live in? If we could better predict environmental pollution, can we improve our lifestyle? And more importantly, does environmental factors tie into personal well-being?
        </p>

        <p> 
          These are the driving questions behind Project Eco, the first project developed under Team Enigma, the AI group from Harrow School.
        </p>
      </div>
    </div>

		<section class="headerTransition"></section>
		
		<div class="container" id="graph">
			<h1>Graph stuff here</h1>
		</div>

		<section style="height: 100px;"></section>
		
		<div class="enigmaBtn" id="scramble">
			Brought to you by 
      <h2 id="enigma" style="font-weight: bolder;">
        <div id="messengerbottom" messages='[ "Team Enigma" ]'></div>
      </h2>
		</div>

		<section style="height: 300px;"></section>

	</div>

	<%- include('../partials/footer.ejs'); %>

  <style type="text/css">
    .typewrite > .wrap { 
      border-right: 0.08em solid #000
    }
  </style>

</body>
</html>