<!DOCTYPE html>
<html lang="en">
<head>
	<%- include('../partials/head.ejs'); %>
	<link rel="stylesheet" href="/static/stylesheets/index.css">

	<!-- Typewriter Text -->
	<script type="text/javascript" src="/static/js/universal/typingtext.js" defer></script>
</head>

<body>

	<%- include('../partials/header.ejs'); %>

	<div class="container-fluid" id="bodyContent">

    <div id="fixedText">
      <h3 id="textfade1" style="opacity: 0; color: white;">
        The
        <span class="fixedbold" data-text="Environment">
          Environment
        </span>
        is what we
        <span class="fixedbold">
          breathe
        </span>
        and
        <span class="fixedbold">
          live
        </span>
        in.
      </h3>

      <div id="textfade2" style="opacity: 0;">
        <p>
          Yet how many of us actually pay attention to the quality of the environment that we live in? Could we predict the amount of pollution emitted and improve our lifestyle? Is it possible to benefit directly from a greener environment? 
        </p>

        <p> 
          The environment isn’t only important to the world around us but also to us as individuals, affecting our moods, physical and mental health. With these questions behind the first AI division from Harrow school, Team Engima, our goals are to provide answers and to create a healthier and environmentally sustainable society using our AI technology.
        </p>
      </div>
    </div>

		<section class="headerTransition"></section>

    <section style="height: 200px;"></section>

    <div class="index-links container">

      <div id="index-links-title">
        <h2>Welcome</h2>
        <p>What would you like to do?</p>
      </div>


      <div id="index-links-card" class="card text-white bg-dark findings-card">
        <div style="position: relative;">
          <div class="index-fancy-hover"></div>
          <div class="card-body index-card-body">
            <div>
              <h3 class="card-title">Articles</h3>
              <p class="card-text text-muted">Take a deeper look into environmental research.</p>
              <a href="/articles" class="btn btn-secondary">Go</a>
            </div>
          </div>
        </div>
      </div>

      <div id="index-links-card" class="card text-white bg-dark about-card">
        <div style="position: relative;">
          <div class="index-fancy-hover"></div>
          <div class="card-body index-card-body">
            <div>
              <h3 class="card-title">About Us</h3>
              <p class="card-text text-muted">Read about the aims and progression of our project.</p>
              <a href="/about" class="btn btn-secondary">Go</a>
            </div>
          </div>
        </div>
      </div>

      <div id="index-links-card" class="card text-white bg-dark survey-card">
        <div class="card-body index-card-body">
          <div>
            <h3 class="card-title">Survey</h3>
            <p class="card-text text-muted">Help our project by completing a quick survey.</p>
            <a href="/survey" class="btn btn-secondary">Go</a>
          </div>
        </div>
      </div>

      <!--

      <div id="alerts" class="alerts">
        <h2>Live Data & Alerts</h2>
        <p class="graph-alerts-text-item">
          <span class="badge badge-pill" style="background-color: #FF0000; margin-bottom: 10px;">Warning</span>
          <span class="badge badge-pill" style="background-color: #0000AA; margin-bottom: 10px;">28 Jul</span>
          <br>
          The PM<sub>2.5</sub> levels on-Hill have risen to an all-high 65 gummy bears.

          <div class="graph-alerts-graphs">
            <div class="graph-alerts-graph">
              <img src="../static/assets/universal/gamestopgraph.png" alt="gamestopgraph.png" style="width: 100%;
              height: 100%;">
              <p style="padding: 10px;">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-up-fill" viewBox="0 0 16 16">
                  <path d="m7.247 4.86-4.796 5.481c-.566.647-.106 1.659.753 1.659h9.592a1 1 0 0 0 .753-1.659l-4.796-5.48a1 1 0 0 0-1.506 0z"/>
                </svg>
                Gamestop stock price
              </p>
            </div>
            <div class="graph-alerts-graph">
              <img src="../static/assets/universal/gamestopgraph.png" alt="gamestopgraph.png" style="width: 100%;
              height: 100%;">
              <p style="padding: 10px;">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-up-fill" viewBox="0 0 16 16">
                  <path d="m7.247 4.86-4.796 5.481c-.566.647-.106 1.659.753 1.659h9.592a1 1 0 0 0 .753-1.659l-4.796-5.48a1 1 0 0 0-1.506 0z"/>
                </svg>
                Gamestop stock price
              </p>
            </div>
            <div class="graph-alerts-graph">
              <img src="../static/assets/universal/gamestopgraph.png" alt="gamestopgraph.png" style="width: 100%;
              height: 100%;">
              <p style="padding: 10px;">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-up-fill" viewBox="0 0 16 16">
                  <path d="m7.247 4.86-4.796 5.481c-.566.647-.106 1.659.753 1.659h9.592a1 1 0 0 0 .753-1.659l-4.796-5.48a1 1 0 0 0-1.506 0z"/>
                </svg>
                Gamestop stock price
              </p>
            </div>
          </div>
        </p>
      </div>

      -->


    


    </div>

    <section style="height: 50px;"></section>

    <!--
    <div style="text-align: center;">
      <h2>Join our Newsletter?</h2>
      <input type="text" placeholder="Enter Email...">
    </div>
    -->

    <section style="height: 50px;"></section>

    <div id="booyah">
      <div class="enigmaBtn" id="scramble">
        {{ message }}
        <h2 id="enigma" style="font-weight: bolder;" v-on:click="changeMsg">
          <div id="messengerbottom" messages='[ "Team Enigma" ]'></div>
        </h2>
      </div>
      <img id="walruspic" v-if="showWalrus" src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/22/Pacific_Walrus_-_Bull_%288247646168%29.jpg/1280px-Pacific_Walrus_-_Bull_%288247646168%29.jpg" alt="A Walrus" style="width: 100%; height: auto; margin-top: 100px;">
    </div>

    <section style="height: 200px;"></section>

  </div>

	<%- include('../partials/footer.ejs'); %>

  <style type="text/css">
    .typewrite > .wrap { 
      border-right: 0.08em solid #000
    }
  </style>

  <script>
    var booyah = new Vue({
      el: '#booyah',
      data: {
        textList: [
          'Brought to you by',
          'Brought to you by',
          'Brought to you by',
          'Brought to you by',
          'Hey!',
          'You just found an easter egg!',
          'Congrats!',
          'It gets really boring here, y\'know?',
          'So...',
          'Here\'s something for you!',
        ],
        count: 0,
        message: 'Brought to you by',
        showWalrus: false,
      },
      methods: {
        changeMsg: function() {
          this.count++
          this.message = this.textList[this.count]
          if (this.count > 9) {
            this.showWalrus = true
            this.message = ":)"
          }
        }
      }
    })
  </script>

</body>
</html>