<!DOCTYPE html>
<html lang="en">
<head>
	<%- include('../partials/head.ejs'); %>
	<link rel="stylesheet" href="/static/stylesheets/index.css">

	<!-- Typewriter Text -->
	<script type="text/javascript" src="/static/js/universal/typingtext.js"></script>
</head>

<body>

	<%- include('../partials/header.ejs'); %>

  <div id="fixedText" style="opacity: 0; pointer-events: none; color: white">
    <h3><span>The</span>
      <!--<span class="fixedbold" style="font-weight: bolder; white-space: nowrap;">
        <span id="messengertop" messages="[ &quot;Environment&quot; ]"></span>
      </span>-->
      <span class="fixedbold" style="font-weight: bolder; white-space: nowrap;">Environment</span>
      is what we
      <span class="fixedbold" style="font-weight: bolder">
        breathe
      </span> and
      <span class="fixedbold" style="font-weight: bolder">
        thrive
      </span> in.
    </h3>

    <p style="font-size: 20px;">
      Yet how many of us actually pay attention to the quality of the <span id="hover" style="transition: 2s;">environment</span> that we live in? If we could better predict environmental <span id="hover">pollution</span>, can we improve our lifestyle? And more importantly, does environmental factors tie into personal <span id="hover">well-being</span>?
    </p>

    <p style="font-size: 20px;"> 
      These are the driving questions behind <span id="hover">Project Eco</span>, the first project developed under <span id="hover">Team Enigma</span>, the AI group from Harrow School.
    </p>
  </div>

	<div class="container-fluid" id="bodyContent" style="transition: 2s">

		<section class="headerTransition"></section>

		<div class="container-fluid" id="about">

			<div class="bodyText">

        <section style="height: 50px;"></section>

				<!-- <p style="font-size: 20px;">
					Yet how many of us actually pay attention to the quality of the <span id="hover" style="transition: 2s;">environment</span> that we live in? If we could better predict environmental <span id="hover">pollution</span>, can we improve our lifestyle? And more importantly, does environmental factors tie into personal <span id="hover">well-being</span>?
				</p>

				<p style="font-size: 20px;"> 
					These are the driving questions behind <span id="hover">Project Eco</span>, the first project developed under <span id="hover">Team Enigma</span>, the AI group from Harrow School.
				</p> -->

				<section style="height: 100px;"></section>


        <!--
        <article class="project-intro">

          <h2 id="theProject" class="typewrite" data-period="3000" data-type='["The Project", "in 4 Parts:"]'>
            <span class="wrap"></span>
          </h2>

          <section style="height: 20px;"></section>

          <div class="image-wrap">
            <img class="intro-image" src="static/assets/resources/some-leaves.webp" />
          </div>
          
          <ul style="font-size: 20px;">
            <li><span id="hover">Backend server</span> for data handling</li>
            <li>ESP-32 boards and sensors to collect <span id="hover">real-world data</span></li>
            <li>An AI time series forecaster to predict <span id="hover">future trends</span> based on past data</li>
            <li>Daily forms to collect boys' personal emotions, achievements and outlook during the day</li>
          </ul>

          <p style="font-size: 20px; margin-bottom: 50px;">
            We hope to build a network of sensors around the Hill, monitoring <span id="hover">pollution data</span> daily. This real-time data, as well as all historical data, will be made public on our website. A custom-made AI will then crunch these data to make <span id="hover">future predictions</span>. As a bonus, boys are encouraged to submit their feelings about the day, in order to make a connection between <span id="hover">environmental conditions</span> and <span id="hover">psychological effects</span>.
          </p>

        </article> -->
        
			</div>
		</div>
		
		<div class="container" id="graph">
			<h1>Graph stuff here</h1>
		</div>

		<section style="height: 100px;"></section>
		
		<div class="enigmaBtn" id="scramble">
			Brought to you by 
      <h2 id="enigma" style="font-weight: bolder;">
        <div id="messengerbottom" messages='[ "Team Enigma" ]'></div>
      </h2>
		</div>

		<section style="height: 300px;"></section>

	</div>

	<footer id="Harrow football" style="margin-bottom: -50px;">
      <!-- Include Header -->
      <%- include('../partials/footer.ejs'); %>
  </footer>

    <style type="text/css">
        .typewrite > .wrap { 
            border-right: 0.08em solid #000
        }
    </style>

</body>
</html>