<!DOCTYPE html>
<html lang="en">

  <head>
    <%- include('../partials/head.ejs'); %>
    <link rel="stylesheet" href="/static/stylesheets/survey.css">
  </head>

  <body style="background-image: url('/static/assets/survey/surveybackground.png');  background-size: cover;">
  
    <header>
      <%- include('../partials/navbar.ejs'); %>
    </header>

    <main id="app">
      <div class="shifted-container">
      
        <form action="/survey/success" method="post">


        <!-- Carousel Content -->
          <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="false" data-bs-interval="false" data-bs-touch="false" data-interval="100">

            <div class="carousel-inner">
              <div class="carousel-item active">
                <div class="form-el">
                  <div>
                    <h1 class="survey-title">We'll make this quick.</h1>
                    <div>
                      <p id="instructions-text">There are 5 short questions, which will take approximately 1 minute in total</p>
                      <p id="instructions-text">Click the "Next" button below to get started!</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="carousel-item">
                <div class="form-el-2">
                  <div>
                    <h2 class="survey-card-title">How do you feel today?</h2>
                    <div class="radio-label-vertical-wrapper">
                      <div class="form-group">
                        <label class="survey-card-margin-gap" style="line-height: 18px;">
                          Rate out of 5 (higher = happier)<sup class="text-danger">*</sup>
                        </label>

                        <label v-for="n in 5" class="radio-label-vertical">
                          <input class="form-check-input" type="radio" name="q1" :value="n" v-model="questions.q1" required>{{n}}
                        </label>

                      </div>
                    </div>
                  </div>
                </div>
                <section style="height: 2vh;"></section>
                <div class="form-el-2" style="margin-bottom: 50px;">
                  <div>
                    <h2 class="survey-card-title">How well could you concentrate on your work?</h2>
                    <div class="radio-label-vertical-wrapper">
                      <div class="form-group">
                        <label class="survey-card-margin-gap" style="line-height: 18px;">
                          Rate out of 5 (higher = better)<sup class="text-danger">*</sup>
                        </label>
                        <label v-for="n in 5" class="radio-label-vertical">
                          <input class="form-check-input" type="radio" name="q2" :value="n" v-model="questions.q2" required>{{n}}
                        </label>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="carousel-item">
                <div class="form-el-2">
                  <div>
                    <h2 class="survey-card-title">How stressful has your work been?</h2>
                    <div class="radio-label-vertical-wrapper">
                      <div class="form-group">
                        <label class="survey-card-margin-gap" style="line-height: 18px;">
                          Rate out of 5 (higher = more stressful)<sup class="text-danger">*</sup>
                        </label>
                        <label v-for="n in 5" class="radio-label-vertical">
                          <input class="form-check-input" type="radio" name="q3" :value="n" v-model="questions.q3" required>{{n}}
                        </label>
                      </div>
                    </div>
                  </div>
                </div>
                <section style="height: 2vh;"></section>
                <div class="form-el-2" style="margin-bottom: 50px;">
                  <div>
                    <h2 class="survey-card-title">
                      Have you had any dizziness or headaches recently?
                    </h2>
                    <div class="radio-label-vertical-wrapper">
                      <div class="form-group">
                        <label class="survey-card-margin-gap" style="line-height: 18px;">
                          Choose Yes / No<sup class="text-danger">*</sup>
                        </label>
                        <label class="radio-label-vertical">
                          <input class="form-check-input" type="radio" name="q4" value="yes" required v-model="questions.q4">Yes
                        </label>
                        <label class="radio-label-vertical">
                          <input class="form-check-input" type="radio" name="q4" value="no" required v-model="questions.q4">No
                        </label>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="carousel-item">
                <div class="form-el-2">
                  <div>
                    <h2 class="survey-card-title">Have you had any allergic responses today?</h2>
                    <div class="radio-label-vertical-wrapper">
                      <div class="form-group">
                        <label class="survey-card-margin-gap" style="line-height: 18px;">
                          Choose Yes / No<sup class="text-danger">*</sup>
                        </label>
                        <label class="radio-label-vertical">
                          <input class="form-check-input" type="radio" name="q5" value="yes" required v-model="questions.q5">Yes
                        </label>
                        <label class="radio-label-vertical">
                          <input class="form-check-input" type="radio" name="q5" value="no" required v-model="questions.q5">No
                        </label>
                      </div>
                    </div>
                  </div>
                </div>
                <section style="height: 2vh;"></section>
                <div class="form-el-2" style="margin-bottom: 50px;">
                  <div>
                    <h2 class="survey-card-title">Where are you taking this survey?</h2>
                    <div>
                      <label style="line-height: 15px;">
                        This will allow us to get weather data in your area.
                      </label>
                    </div>
                    <span  v-if="errorStr!=null" class="survey-longlat-inputs"><b>Error : {{errorStr}}</b></span>
                    <span  v-if="errorStr==null" class="survey-longlat-inputs">
                      
                      <input  type="hidden" placeholder="Your Latitude..." type="text" class="form-control" name="q6.1" id="q6.1" novalidate style="margin-top: 10px;" v-model="questions.q6.latitude"></input>
                      <input  type="hidden" placeholder="Your Longitude..." type="text" class="form-control" name="q6.2" id="q6.2" novalidate style="margin-top: 10px;" v-model="questions.q6.longitude"></input> 

                      <button type="button" class="btn btn-info" @click="locateMe" style="margin-top: 10px;" :disabled="gpsstatus ==2">
                        <span v-if="gpsstatus==0">Use GPS</span>
                        <span v-if="gpsstatus==1">
                          <div class="spinner-border" role="status">
                            <span class="visually-hidden">Loading...</span>
                          </div>
                        </span>
                        <span v-if="gpsstatus==2">
                          <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-check" viewBox="0 0 16 16">
                            <path d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.267.267 0 0 1 .02-.022z"/>
                          </svg>
                        </span>
                        
                      </button>
                      <button @click="useHarrowaslocation" onload="" type="button" class="btn btn-primary" style="margin-top: 10px;" :disabled="gpsstatus ==2">
                        <span v-if="gpsstatus==0">I'm at Harrow</span>
                        <span v-if="gpsstatus==1">
                          <div class="spinner-border" role="status">
                            <span class="visually-hidden">Loading...</span>
                          </div>
                        </span>

                        <span v-if="gpsstatus==2">
                          <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-check" viewBox="0 0 16 16">
                            <path d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.267.267 0 0 1 .02-.022z"/>
                          </svg>
                        </span>
                        

                      </button>
                    </span>
                  </div>
                </div>
              </div>
              <div class="carousel-item">
                <div class="form-el">
                  <div>
                    <h1>Thanks for your input!</h1>
                    <section style="height: 20px;"></section>
                    <p id="instructions-text">Your responses provide us with useful data for delivering accurate predictions.</p>
                    <section style="height: 20px;"></section>
                    <button type="submit" class="btn btn-primary">Submit</button>
                    <div class="alert alert-danger invalidMsg" style="border-radius: 10px; margin-top: 20px; display: none">Please complete all the questions.</div>
                  </div>
                </div>
              </div>
            </div>
            <div>
              <!--Note: this needs to be inside this div in order to work-->
              <div class="carousel-indicators" id="survey-indicators" style="padding-left: 10px; padding-right: 10px;">
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3" aria-label="Slide 4"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="4" aria-label="Slide 5"></button>
              </div>
              <div style="padding-top: 10px;">
                <!-- Carousel Controllers -->
                <a class="btn btn-primary" style="float:left; margin-left:50px" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                  <i class="fa fa-arrow-left"></i> Prev.
                </a>
                <a class="btn btn-primary" style="float:right; margin-right:50px" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                  Next <i class="fa fa-arrow-right"></i>
                </a>
              </div>
            </div>

          </div>

          <section style="height: 50px;"></section>
          

        </form>
      
      </div>
    </main>

    <script>
    var app = new Vue({
      el: '#app',
      data: {
        gpsstatus:0,
        location:null,
        errorStr:null,
        questions: {
          q1:"",
          q2:"",
          q3:"",
          q4:"",
          q5:"",
          q6:{
            latitude:null,
            longitude:null
          }
        }
      },
      methods: {
        useHarrowaslocation(){
          this.gpsstatus=1;
          
          this.questions.q6.latitude = 51.573;
          this.questions.q6.longitude = -0.337;

          this.gpsstatus=2;

        },

        async getLocation() {
          
          return new Promise((resolve, reject) => {

            if(!("geolocation" in navigator)) {
              reject(new Error('Geolocation is not available.'));
            }

            navigator.geolocation.getCurrentPosition(pos => {
              resolve(pos);
            }, err => {
              reject(err);
            });

          });
        },
        async locateMe() {

          this.gettingLocation = true;
          try {
            this.gpsstatus=1;
            this.location = await this.getLocation();

            this.questions.q6.latitude = Math.floor(this.location.coords.latitude*1000+0.5)/1000;

            this.questions.q6.longitude = Math.floor(this.location.coords.longitude*1000+0.5)/1000;

            this.gpsstatus=2;
          } catch(e) {
            this.gpsstatus=1;
            this.errorStr = e.message;
          }
          
        }
      }
    })

  </script>

    <!-- Include Footer -->
    <%- include('../partials/footer.ejs'); %>

  </body>
  
</html>