<!DOCTYPE html>
<html lang="en">

  <head>
    <%- include('../partials/head.ejs'); %>
    <link rel="stylesheet" href="/static/stylesheets/survey.css">
  </head>

  <body style="background-image: url('/static/assets/survey/surveybackground.png');  background-size: cover;">
  
    <header>
      <%- include('../partials/navbar.ejs'); %>
    </header>

    <main id="app">
      <div class="shifted-container">
      
        <form action="/survey/success" method="post">

        <!-- Carousel Content -->
        <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="false" data-bs-interval="false" data-bs-touch="false" data-interval="500">
           
          <div class="carousel-inner">

              <div class="carousel-item active">
                
                <div class="form-el">
                  <div>
                    <h1 class="survey-title">We'll make this quick.</h1>
                    <p>This is a quick survey. There are 5 questions.</p>
                  </div>
                </div>

              </div>

              <div class="carousel-item">

                <div class="form-el">
                  <div>
                    <h2>How do you feel today?</h2>
                    <!--
                    <label for="moodRange" class="form-label" style="float: left;">Sad</label>
                    <label for="moodRange" class="form-label" style="float: right;">Happy</label>
                    <input type="range" class="form-range" name="moodRange" fmin="0" max="5" step="1" id="moodRange" v-model="moodRange"> -->

                    <div class="radio-label-vertical-wrapper">
                      <div class="form-group">
                        <label style="line-height: 18px; margin-bottom: 30px;">
                          Rate out of 5 (higher = happier)<sup class="text-danger">*</sup>
                        </label>
                        <label class="radio-label-vertical">
                          <input class="form-check-input" type="radio" name="radio" value="1" required>1
                        </label>
                        <label class="radio-label-vertical">
                          <input class="form-check-input" type="radio" name="radio" value="2" required>2
                        </label>
                        <label class="radio-label-vertical">
                          <input  class="form-check-input"type="radio" name="radio" value="3" required>3
                        </label>
                        <label class="radio-label-vertical">
                          <input  class="form-check-input"type="radio" name="radio" value="4" required>4
                        </label>
                        <label class="radio-label-vertical">
                          <input  class="form-check-input" type="radio" name="radio" value="5" required>5
                        </label>
                      </div>
                    </div>

                  </div>
                </div>

              </div>

               <div class="carousel-item">

                <div class="form-el">
                  <div>
                    <h2>How well could you concentrate today?</h2>

                    <div class="radio-label-vertical-wrapper">
                      <div class="form-group">
                        <label style="line-height: 18px; margin-bottom: 30px;">
                          Rate out of 5 (higher = better)<sup class="text-danger">*</sup>
                        </label>
                        <label class="radio-label-vertical">
                          <input class="form-check-input" type="radio" name="radio" value="1" required>1
                        </label>
                        <label class="radio-label-vertical">
                          <input class="form-check-input" type="radio" name="radio" value="2" required>2
                        </label>
                        <label class="radio-label-vertical">
                          <input  class="form-check-input"type="radio" name="radio" value="3" required>3
                        </label>
                        <label class="radio-label-vertical">
                          <input  class="form-check-input"type="radio" name="radio" value="4" required>4
                        </label>
                        <label class="radio-label-vertical">
                          <input  class="form-check-input" type="radio" name="radio" value="5" required>5
                        </label>
                      </div>
                    </div>

                  </div>
                </div>

              </div>

        

              <div class="carousel-item">

                <div class="form-el">
                  <div>
                    <h2>How do you feel today?</h2>
                    <label for="moodRange" class="form-label" style="float: left;">Sad</label>
                    <label for="moodRange" class="form-label" style="float: right;">Happy</label>
                    <input type="range" class="form-range" name="moodRange" fmin="0" max="5" step="1" id="moodRange" v-model="moodRange">
                  </div>
                </div>

              </div>

              <div class="carousel-item">

                <div class="form-el">
                  <div>
                    <h2>How do you feel today?</h2>
                    <label for="moodRange" class="form-label" style="float: left;">Sad</label>
                    <label for="moodRange" class="form-label" style="float: right;">Happy</label>
                    <input type="range" class="form-range" name="moodRange" fmin="0" max="5" step="1" id="moodRange" v-model="moodRange">
                  </div>
                </div>

              </div>

              <div class="carousel-item">

                <div class="form-el">
                  <div>
                    <h2>How do you feel today?</h2>
                    <label for="moodRange" class="form-label" style="float: left;">Sad</label>
                    <label for="moodRange" class="form-label" style="float: right;">Happy</label>
                    <input type="range" class="form-range" name="moodRange" fmin="0" max="5" step="1" id="moodRange" v-model="moodRange">
                  </div>
                </div>

              </div>

              <div class="carousel-item">

                <div class="form-el">
                  <div>
                    <h2>Thank you for completing the survey!</h2>
                    <section style="height: 20px;"></section>
                    <button type="submit" class="btn btn-primary">Submit</button>
                  </div>
                </div>

              </div>

            
          </div>
          
          <div>
            <!--Note: this needs to be inside this div in order ro work-->
            <div class="carousel-indicators" id="survey-indicators" style="padding-left: 10px; padding-right: 10px;">
              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3" aria-label="Slide 4"></button>
              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="4" aria-label="Slide 5"></button>
              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="5" aria-label="Slide 6"></button>
              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="6" aria-label="Slide 7"></button>
            </div>

            <div style="padding-top:10px">
              <!-- Carousel Controllers -->
              <a class="btn btn-primary" style="float:left; margin-left:50px" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                <i class="fa fa-arrow-left"></i> Prev.
              </a>

              <a class="btn btn-primary" style="float:right; margin-right:50px" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                Next <i class="fa fa-arrow-right"></i>
              </a>
            </div>
          </div>

        </div>


        <section style="height: 50px;"></section>

        <!-- How the heck does Vue work?? -->
        
      </form>
      
      </div>
    </main>

    <!-- Include Footer -->
    <%- include('../partials/footer.ejs'); %>

  </body>

    <script>
      var $carousel = $('#carouselExampleIndicators');
      $carousel.carousel();
      var handled=false;
      var itemclicked="";
      $carousel.bind('slide.bs.carousel', function (e) {
          var current=$(e.target).find('.item.active');
          var indx=$(current).index();
          if((indx+2)>$('.carousel-indicators button').length)
              indx=-1
              
          if(!handled)
          {
              $('.carousel-indicators button').removeClass('active')
            $('.carousel-indicators button:nth-child('+(indx+2)+')').addClass('active');
              
          }
          else
          {
              handled=!handled;
          }
          
      });

      $(".carousel-indicators button").on('click',function(){
        $(this).addClass('active').siblings().removeClass('active');
        handled=true;
      });
                });

  </script>

  <script>
    var app = new Vue({
      el: '#app',
      data: {
        moodRange: '5',
        moodReasonText : ''
      }
    })

    console.log(moodRange.value)
  </script>

</html>